.ds-page-container {
  height: 100%;
}

@media (min-width: 992px)
.ds-wrap {
  min-width: 992px;
  max-width: 1200px;
}
.ds-wrap {
  margin-left: -15px;
  margin-right: -15px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #f5ede3;
  display: block;
}

@media (min-width: 768px)
.ds-content-container {
  padding-bottom: 235px;
}
.ds-content-container {
  overflow: auto;
}

@media (min-width: 768px)
.ds-content-container .ds-content-region {
  padding: 20px 20px 20px 20px;
}
.ds-content-container .ds-content-region {
  display: inline-block;
  padding: 20px;
  width: 100%;
}
.ds-row {
  display: block;
}
@media (min-width: 1200px)
.ds-col-12 {
  float: left;
  width: 100%;
}
@media (min-width: 992px)
.ds-col-12 {
  float: left;
  width: 100%;
}
@media (min-width: 768px)
.ds-col-12 {
  float: left;
  width: 100%;
}
.ds-col-12 {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}
form {
  display: block;
  margin-top: 0em;
}

button.ds-button-activecommand, input[type=submit].ds-button-activecommand, .dsbutton.ds-button-activecommand {
  background-color: #eb502d!important;
  border-color: #f28a73;
}
button, input[type=submit], .dsbutton {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e3b956!important;
  border: 1px solid #ffe6b2;
  border-radius: 5px;
  color: #fff!important;
  cursor: pointer;
  font-size: 14px;
  line-height: normal!important;
  padding: 4px 8px;
  text-transform: uppercase;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  padding: 2px 6px 3px;
  border: 2px outset buttonface;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: buttonface;
  box-sizing: border-box;
}
p {
  margin: 0 0 10px;
}

input[type=text], input[type=number], input[type=date], input[type=password],input[type="email"], select {
  border: 1px solid #e3e3e3;
  border-radius: 3.5px;
  color: #555;
  padding: 5px;
  margin-bottom:3px;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.has-error {
        color: #b94a48;
    }

.ds-row {
    display: block;
}
.form-group {
    margin-bottom: 15px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}

@media (min-width: 1200px)
.ds-col-4 {
    float: left;
    width: 33.333333333%;
}

.ds-col-4 {
    position: relative;
    float: left;
    width: 30%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}

