<?xml version="1.0" encoding="utf-8" ?>
<ApplicationContactInfo>
  
  <!-- Comment : Here Communication/Contact Details -->
  <add key="CompanyName" value="CoverYourBusiness.com" />
  <add key="SupportEmailText" value="Support@CoverYourBusiness.com" />
  <add key="SupportEmailHref" value="mailto:Support@CoverYourBusiness.com" />
  <add key="SupportPhoneNumber" value="844-472-0967" />
  <add key="SupportPhoneNumberHref" value="tel:8444720967" />
       
   <!-- Comment : Here Retrieve Quote Emails -->
  <add key="SupportEmailTextQuotes" value="Quotes@CoverYourBusiness.com" />
  <add key="SupportEmailHrefQuotes" value="mailto:Quotes@CoverYourBusiness.com" />

  <!-- Comment : Here Welcome Emails -->
  <add key="SupportEmailTextWelcome" value="Welcome@CoverYourBusiness.com" />
  <add key="SupportEmailHrefWelcome" value="mailto:Welcome@CoverYourBusiness.com" />

  <!-- Comment : Here User Registration Emails -->
  <add key="SupportEmailTextRegistration" value="Registration@CoverYourBusiness.com" />
  <add key="SupportEmailHrefRegistration" value="mailto:Registration@CoverYourBusiness.com" />

  <!-- Comment : Here User Registration Emails -->
  <add key="SupportEmailTextPolicyFailure" value="CreatePolicy@CoverYourBusiness.com" />

</ApplicationContactInfo>