<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <!-- Mail Setting Start -->
    <mailSettings>
      <smtp from="DoNotReply_YYY3@CoverYourBusiness.com" xdt:Transform="Replace">
        <network host="WEBMAIL.GUARD.COM" port="25" enableSsl="true" userName="CYB_SMTP_SERVICE_ACCOUNT@GUARD.COM" password="73ncrYpt#7"/>
      </smtp>
    </mailSettings>
    <!-- Mail Setting End -->
  </system.net>
  <appSettings>
    <add key="GuinnessDB" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="EnableNLogTracing" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>

    <add key="PolicyCentreURL" value="/PolicyCenter/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CdnPath" value="/CDN/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApplicationHomeUrl" value="/PurchasePath/Home" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ClientEmailID" value="gurdarshan.singh@xceedance.com; Saurabh.Mehta@xceedance.com; albin.ka@xceedance.com; santosh.shanbhag@xceedance.com; amit.mahajan@xceedance.com; manjeet.singh@xceedance.com; mukesh.saneja@xceedance.com; anuj.singh@xceedance.com;nishank.srivastava@xceedance.com; neha.aggarwal@xceedance.com; neelam.rautela@xceedance.com; prem.pratap@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailBcc" value="gurdarshan.singh@xceedance.com; Saurabh.Mehta@xceedance.com; albin.ka@xceedance.com; santosh.shanbhag@xceedance.com; amit.mahajan@xceedance.com; manjeet.singh@xceedance.com; mukesh.saneja@xceedance.com; anuj.singh@xceedance.com;nishank.srivastava@xceedance.com; neha.aggarwal@xceedance.com; neelam.rautela@xceedance.com; prem.pratap@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailFrom" value="Welcome@CoverYourbusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="RegistrationEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailBcc" value="DevelopmentSystemEmail@GUARD.com;manjeet.bhinder1886@gmail.com;CYBSupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailFrom" value="Registration@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="RetreiveQuoteEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailBcc" value="DevelopmentSystemEmail@GUARD.com;CYBSupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailFrom" value="Quotes@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="GuinnessDB" value="y1KmeElfHGWYDibARjwHFrXhOJT7WqEVLKK7C02WmUwpN|!~xKT5Bq7CFtObSDwtfbVFpl|!~rVFY1M|!~sUcnnfTr3uueMOzpDX9dxQo0tOd6aDEv~|~dtBoIysU8JWkqKQGqHdVkKWnr41LZwUF|!~rdJ8KdFbwc3~|~XkcB1zPTjHjveprOc=" xdt:Transform="Insert" xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
   <serviceConnectionsGuard xdt:Transform="Replace">
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc2/api/" authUrl="https://ydsml.guard.com/inssvc2/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth"/>
  </serviceConnectionsGuard>
</configuration>