<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <!-- Mail Setting Start -->
    <mailSettings>
      <smtp from="DoNotReply@CoverYourBusiness.com" xdt:Transform="Replace">
        <network host="WEBMAIL.GUARD.COM" port="25" enableSsl="true" userName="CYB_SMTP_SERVICE_ACCOUNT@GUARD.COM" password="73ncrYpt#7"/>
      </smtp>
    </mailSettings>
    <!-- Mail Setting End -->
  </system.net>
  <appSettings>
    <add key="GuinnessDB" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="EnableNLogTracing" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>

    <add key="PolicyCentreURL" value="/PolicyCenter/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CdnPath" value="/CDN/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApplicationHomeUrl" value="/PurchasePath/Home" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ClientEmailID" value="CYBsupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailBcc" value="DirectSalesIssuance@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailFrom" value="Welcome@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="RegistrationEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailFrom" value="Registration@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="RetreiveQuoteEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailFrom" value="Quotes@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="GuinnessDB" value="VmEqEsGH~|~74SV1Pc03uFSksPeVqyG|!~oe5FHWlTzQ2xwLZqh~|~KQxdPfDsrJkQu|!~Wsi2KgyMWvmp07BUNzfZ5mY5XzAvdW7RGJ7gPnTD21O3veQLCeeBqfdU0pTGCTL119PyoHw5jXrcOzwvpmCHUp2A==" xdt:Transform="Insert" xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <serviceConnectionsGuard xdt:Transform="Replace">
    <add name="InsuranceApi" url="https://dsml.guard.com/inssvc/api" authUrl="https://dsml.guard.com/inssvc/auth" username="kzY~|~Z2mnsbe1G9rThO4pmK61p1hhxifQ16VOg|!~Pf3uCn~|~I5RFy5SeshD~|~9W03KAz" password="N~|~u8iAegoU1~|~qKUSR3sy5bHvsNgaB52B07fBOfKkexibUHesnV2LGAOI59iz~|~BT1" authType="OAuth"/>
  </serviceConnectionsGuard>
</configuration>
