<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="ApplicationContactInfo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="serviceConnectionsGuard" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="alert@xceedance.com">
        <network host="smtp.office365.com" port="587" enableSsl="true" userName="alert@xceedance.com" password="abc@123" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <clear/>
  </connectionStrings>
  <appSettings>
    <add key="ExpireMinutes" value="120" />
    <add key="CdnPath" value="/BHIC.CDN/" />
    <!-- Default Common Folder - Set the default FolderName. This will be useful for all common resource for mutiple projects -->
    <add key="CdnDefaultCommonFolder" value="Common" />
    <!-- Default WC Folder - Set the default WC FolderName. Workers Compnesation project default folder -->
    <add key="CdnDefaultWcFolder" value="WC" />
    <add key="EnableCdn" value="true" />
    <!-- Default Theme - Set the default theme. This should always sync with the value stored in lookups. -->
    <add key="DefaultThemeId" value="68C2585C-0525-4C36-ABCB-30F486846403" />
    <add key="CountyCacheInterval" value="1440" />
    <add key="ApplicationHomeUrl" value="/PurchasePath/Home" />
    <add key="AppName" value="WC" />
    <add key="ClientEmailID" value="guinnessdev@xceedance.com" />
    <add key="GuinnessDB" value="l8IwJlQNYdF5YbwIM~|~~|~z~|~JPl6cqWXYA|!~iZaAo4cO533TnJN3|!~upGbMr1RtXrXzab|!~gX8Vh3bq~|~B3~|~06tIpSgIuCa28~|~XObUNgQ8nVR~|~gjyMpkwVSNekX1IgYu0bG9Cbf1ORJKIdXwGr7BEDkfdhOzQ==" />
    <add key="EnableNLogTracing" value="true" />
    <add key="PolicyCentreURL" value="/PolicyCenter/" />
  
  <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="WelcomeEmailTo" value="" />
    <add key="WelcomeEmailCc" value="" />
    <add key="WelcomeEmailBcc" value="guinnessdev@xceedance.com" />
    <add key="WelcomeEmailFrom" value="" />
    <add key="RegistrationEmailTo" value="" />
    <add key="RegistrationEmailCc" value="" />
    <add key="RegistrationEmailBcc" value="venkatesh.govindarajan@xceedance.com" />
    <add key="RegistrationEmailFrom" value="" />
    <add key="RetreiveQuoteEmailTo" value="" />
    <add key="RetreiveQuoteEmailCc" value="" />
    <add key="RetreiveQuoteEmailBcc" value="venkatesh.govindarajan@xceedance.com" />
    <add key="RetreiveQuoteEmailFrom" value="" />
    <!--Internal team Email Setting End -->

  </appSettings>
  <ApplicationContactInfo file="ApplicationContactInfo.config" />
  <serviceConnectionsGuard>
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc2/api/" authUrl="https://ydsml.guard.com/inssvc2/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth" />
  </serviceConnectionsGuard>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>