
Go
Drop table tblTemplates

Go
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTemplates](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Template] [nvarchar](max) NOT NULL,
	[Logo] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblTemplates] ON 

GO
INSERT [dbo].[tblTemplates] ([Id], [Template], [Logo], [Status]) VALUES (1, N'Template1.cshtml', N'/LandingPage/Images/Logo/logo.png', N'Active')
GO
INSERT [dbo].[tblTemplates] ([Id], [Template], [Logo], [Status]) VALUES (2, N'Template2.cshtml', N'/LandingPage/Images/Logo/logo.png', N'Inactive')
GO
INSERT [dbo].[tblTemplates] ([Id], [Template], [Logo], [Status]) VALUES (3, N'Template3.cshtml', N'/LandingPage/Images/Logo/logo.png', N'Inactive')
GO
SET IDENTITY_INSERT [dbo].[tblTemplates] OFF
GO
