<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--layout="${longdate} ${newline} ${logger} ${newline} ${message} ${newline} ${exception:format=ToString,StackTrace} ${newline} ${newline} ${newline} ${newline}"-->
    <target name="file" xsi:type="File"
          layout="${message} ${newline} ${exception:format=ToString,StackTrace} ${newline}"
          fileName="${basedir}/Log/${shortdate}.log"
          keepFileOpen="false"
          archiveFileName="${basedir}/archives/log.{#####}.txt"
            archiveAboveSize="10240000"
            maxArchiveFiles="7"
            archiveNumbering="Sequence"
            concurrentWrites="true"
          encoding="iso-8859-2" />

    <target name="Mail" xsi:type="Mail" html="true" subject="Guinness Error Received" body="${longdate} ${newline} ${logger} ${newline} ${message} ${newline} ${exception:format=ToString,StackTrace} ${newline} ${newline} ${newline} ${newline}"
         to="prem.pratap@xceedance.com"
         from="anuj_singh2@yahoo.com"
         encoding="UTF-8"
         smtpUserName="anuj_singh2@yahoo.com"
         enableSsl="true"
         smtpPassword="abc_2015"
         smtpAuthentication="Basic"
         smtpServer="smtp.mail.yahoo.com"
         smtpPort="587" />

    <target name="sendmail" xsi:type="MethodCall" className="BackupLib.Email, BackupLib" methodName="Send" >
        <parameter layout="backupservice@[COMPANY].com" />
        <parameter layout="backups@[COMPANY].com" />
        <parameter layout="FATAL ERROR: Backup Service on ${machinename}" />
        <parameter layout="${longdate} - ${callsite} - ${message}" />
    </target>
      
  </targets>

  <rules>
    <!--<logger name="*" level="Trace" writeTo="file" />-->
    <logger name="*" level="Trace" writeTo="file" />
    <logger name="*" level="Trace" writeTo="Mail" />
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>