@using BHIC.Common.XmlHelper
<script src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var wH = $(window).height() - 340;
        $('.page-content').css('minHeight', wH);
        $('.tooltip').tooltip();
    });
</script>
<div class="shift" ng-init="resetPasswordController">
    <section class="page-content bg-blue--dark">
        <div class="container">
            <div class="alert alert-success" ng-if="status && isResponse">
                <p class="alert-text text-bold">Password Reset Confirmation.</p>
                <p>Your Password has been sucessfully reset. Please use your new password to login</p>
                <a href="~/#/Login"> Click here to return to policy login page </a>
            </div>
            <div class="alert alert-danger" ng-if="(Email==null)? true : false">
                <p class="alert-text text-bold">Reset Password Link Status.</p>
                <p>Your Reset Password link has been expired. Please request for a new link.</p>
                <a href="~/#/ForgotPassword"> Click here to return to Forgot Password </a>
            </div>
            <div class="row" ng-hide="status">
                <div class="lg-col-5 col-centered">
                    <div class="page-title b0 mb0">
                        <h4>Reset Your Password</h4>
                    </div>
                    <div class="row">
                        <div class="lg-col-12">
                            <div style="color:red" ng-if="!status && isResponse">{{errorMessage}}</div>
                            <form class="form-box-1" name="ResetPwdForm" ng-submit="ResetPwdForm.$valid && ResetPassword();" onerrorfocus-form novalidate="novalidate">
                                <div class="form-group mb1">
                                    <input id="email" type="email" style="color:black;" disabled class="field field-lg" ng-model="Email" />

                                </div>
                                <div class="form-group mb1">
                                    <div class="input-group with-tooltip">
                                        <input type="password" style="font-family: verdana, sans-serif; font-weight: bold;" class="d-tcell field field-lg" placeholder="Password" ng-model="Password" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])/"
                                               ng-change="Password = Password.split(' ').join('')" name="PasswordModel" required ng-model-options="{updateOn:'blur focusout'}">
                                        
                                        <div class="d-tcell">
                                            <abbr class="tooltip" title="<p class='mb1'>To satisfy your password requirements, please make sure your password meets the following requirements: </p> <ul class='m0'><li>Be at least 8 characters long</li><li>Have at least one lowercase letter (a-z)</li><li>Have at least one uppercase (A-Z) letter</li><li>Have at least one (digit) number (0-9)</li><li>Have at least one special character (!&#64;#$%^&*)</li></ul>">?</abbr>
                                        </div>                                        
                                    </div>
                                    <span class="error" ng-show="ResetPwdForm.PasswordModel.$error.required && (submitted || !ResetPwdForm.PasswordModel.$pristine)">Password is required.</span>
                                    <span class="error" ng-show="ResetPwdForm.PasswordModel.$error.minlength && !ResetPwdForm.PasswordModel.$pristine">Password should be minimum 8 characters.</span>
                                    <span class="error" ng-show="ResetPwdForm.PasswordModel.$error.pattern && ResetPwdForm.PasswordModel.$dirty && !ResetPwdForm.PasswordModel.$pristine">Password must contain at least one upper case, one lower case, one number &amp; one special character.</span>                                    
                                </div>
                                <div class="form-group mb1">
                                    <input type="password" style="font-family: verdana, sans-serif; font-weight: bold;" class="field field-lg" ng-model="confirmPassword" ng-change="confirmPassword = confirmPassword.split(' ').join('')" name="confirmPasswordModel" placeholder="Confirm Password" required ng-model-options="{updateOn:'blur focusout'}">
                                    <span class="error" ng-if="(Password!='' && Password!=null && confirmPassword!='' && confirmPassword!=null)  && (Password!=confirmPassword) && !ResetPwdForm.confirmPasswordModel.$pristine">Passwords have to match.</span>
                                    <span class="error" ng-show="ResetPwdForm.confirmPasswordModel.$error.required && (submitted || !ResetPwdForm.confirmPasswordModel.$pristine)">Confirm Password is required.</span>
                                </div>
                                <div class="form-group mb1">
                                    <div class="g-recaptcha" data-sitekey="@ConfigCommonKeyReader.CaptchaSiteKey"></div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block field-lg" style="margin-top:20px;" ng-click="submitted=true">Reset Your Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="!status">
                <br />
            </div>
            <div ng-show="status">

            </div>
        </div>
    </section>
</div>