<div class="offset-1 grid-3 s-grid-whole m-grid-whole">
    <div class="sidebar">
        <div class="widget">
            <div class="widget-heading radius">
                <h6>Quote #: 42835</h6>
            </div>
        </div>
        <div class="widget">
            <div class="widget-heading">
                <h5>Don't have time to finish your quote now?</h5>
            </div>
            <div class="widget-content">
                <p>We'll save your info and email a link to your email address so that you can continue from where you left.</p>
                //Todo: user should not be able to click on Save for Later button until form is validated
                @*<span class="error mb1">You must fill all the fields before saving for later.</span>*@
                <button type="submit" class="btn btn-primary">Save for Later</button>
            </div>
        </div>
    </div>
</div>