@using BHIC.Common.Configuration;
@using BHIC.Common.XmlHelper;

@{
    var cdnVersion = BHIC.Portal.Dashboard.BaseController.GetAssemblyVersion();
}
@*@CDN.RenderScripts("/bundles/scripts/captcha")*@
<script src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var wH = $(window).height() - 340;
        $('.page-content').css('minHeight', wH);
    });
</script>
<section class="page-content bg-blue--dark page-content-blue">
    <div class="container" ng-controller="forgotPasswordController">
        <div class="row">
            <div class="alert alert-success" ng-show="responseMsg">
                <p class="alert-text text-bold">Forgot Password Confirmation</p>
                <p class="alert-text">A link to reset your password has been sent to you. If you don’t receive our e-mail after  few minutes, be sure to check your spam filter.</p>
                <a href="~/#/Login"> Click here to return to Policies page </a>                
            </div>

           
            <div class="lg-col-5 col-centered" ng-hide="responseMsg">

                <div class="page-title b0 mb0">
                    <h4>Forgot Your Password?</h4>
                    <p>Please enter your email address below and we'll send you password reset instructions.</p>
                </div>
                <div style="color:red">{{errorMsg}}</div>
                <div class="row">
                    <div class="lg-col-10">
                        <form class="form-box-1" name="ForgotPwdForm" data-ng-submit="ForgotPwdForm.email.$valid && sendForgotPasswordLink()" onerrorfocus-form novalidate>
                            <div class="form-group mb1">
                                <label for="" class="sr-only">Email Address</label>
                                <input type="email" name="email" ng-model="Email" required class="field" placeholder="Email" autofocusfield="focusField" ng-model-options="{updateOn:'blur focusout'}" />
                                <span style="color:red" ng-show="(submitted || !ForgotPwdForm.email.$pristine)">
                                    <span ng-show="(submitted || !ForgotPwdForm.email.$pristine) && ForgotPwdForm.email.$error.required">Email is required.</span>
                                    <span ng-show="(submitted || !ForgotPwdForm.email.$pristine) && ForgotPwdForm.email.$error.email">Invalid email address.</span>
                                </span>
                            </div>
                            <div class="form-group mb1">
                                <div class="g-recaptcha" data-sitekey="@ConfigCommonKeyReader.CaptchaSiteKey"></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" ng-click="submitted=true">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
           

            <div ng-show="responseMsg">
                
            </div>

        </div>
    </div>
</section>