
INSERT [dbo].[MulticlassMinimumPayrollThreshold] ([Id], [StateId], [ClassDescriptionId], [MinimumPayrollThreshold], [FriendlyName], [IsActive], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, NULL, 1, CAST(0.55 AS Decimal(10, 2)), N'Automobile Parts and Accessories', 1, CAST(0x0000A64801377483 AS DateTime), 1, CAST(0x0000A64801377483 AS DateTime), 1)
GO
INSERT [dbo].[MulticlassMinimumPayrollThreshold] ([Id], [StateId], [ClassDescriptionId], [MinimumPayrollThreshold], [FriendlyName], [IsActive], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, NULL, 2, CAST(0.65 AS Decimal(10, 2)), N'Gasoline Station', 1, CAST(0x0000A64801377483 AS DateTime), 1, CAST(0x0000A64801377483 AS DateTime), 1)
GO
INSERT [dbo].[MulticlassMinimumPayrollThreshold] ([Id], [StateId], [ClassDescriptionId], [MinimumPayrollThreshold], [FriendlyName], [IsActive], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, NULL, 3, CAST(0.35 AS Decimal(10, 2)), N'Rentals/Leasing', 1, CAST(0x0000A64801377483 AS DateTime), 1, CAST(0x0000A64801377483 AS DateTime), 1)
GO


--ALTER TABLE [dbo].[MulticlassMinimumPayrollThreshold] ADD  CONSTRAINT [DF_MinimumPayrollThreshold_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
--GO
--ALTER TABLE [dbo].[MulticlassMinimumPayrollThreshold] ADD  CONSTRAINT [DF_MinimumPayrollThreshold_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
--GO
--ALTER TABLE [dbo].[MulticlassMinimumPayrollThreshold]  WITH CHECK ADD  CONSTRAINT [FK_MinimumPayrollThreshold_StateMaster] FOREIGN KEY([StateId])
--REFERENCES [dbo].[StateMaster] ([Id])
--GO
--ALTER TABLE [dbo].[MulticlassMinimumPayrollThreshold] CHECK CONSTRAINT [FK_MinimumPayrollThreshold_StateMaster]
--GO
