<script type="text/javascript">
    $('.tooltip').tooltip();
</script>
<div ng-controller="changePasswordController">
    <div class="row">
        <div class="lg-col-12 md-col-12">
            <div class="alert alert-success info-panel" ng-show="responseMsg">
                <p class="text-alert text-bold m0"> Your Password has been changed successfully </p>
                <p> When you login next time, please use your new password.</p>
                <a href="#/YourPolicies"> Click here to return to Policies page </a>
            </div>
            <div class="alert alert-danger info-panel" ng-if="errorMessage">
                <span class="error">{{errorMessage}}</span>
            </div>
            <div class="the-box form-middle box-no-heading">
                <form class="form-horizontal" name="changePasswordForm" data-ng-submit="changePasswordForm.$valid && changePassword()" onerrorfocus-form novalidate="novalidate">
                    <div class="form-group">
                        <label class="lg-col-3">Old Password</label>
                        <div class="lg-col-5">
                            <input type="password" style="font-family: verdana, sans-serif; font-weight: bold;" class="field field-lg" ng-model="oldPassword" placeholder="Old Password" name="oldPasswordModel" autofocusfield="focusField" required ng-model-options="{updateOn:'blur focusout'}">
                            <span class="error" ng-show="changePasswordForm.oldPasswordModel.$error.required && (submitted || !changePasswordForm.oldPasswordModel.$pristine)">Old Password is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lg-col-3">New Password</label>
                        <div class="lg-col-5">
                            <div class="input-group with-tooltip">
                                <input type="password" style="font-family: verdana, sans-serif; font-weight: bold;" class="d-tcell field" placeholder="New Password" ng-model="newPassword" ng-minlength="8"
                                       ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])/" name="newPasswordModel" required ng-model-options="{updateOn:'blur focusout'}">
                                <div class="d-tcell">
                                    <abbr class="tooltip" title="<p class='mb1'>To satisfy your password requirements, please make sure your password meets the following requirements: </p> <ul class='m0'><li>Be at least 8 characters long</li><li>Have at least one lowercase letter (a-z)</li><li>Have at least one uppercase (A-Z) letter</li><li>Have at least one (digit) number (0-9)</li><li>Have at least one special character (!&#64;#$%^&*)</li></ul>">?</abbr>
                                </div>
                            </div>
                            <span class="error" ng-show="changePasswordForm.newPasswordModel.$error.required && (submitted || !changePasswordForm.newPasswordModel.$pristine)">New Password is required.</span>
                            <span class="error" ng-show="changePasswordForm.newPasswordModel.$error.minlength && !changePasswordForm.newPasswordModel.$pristine">Password should be minimum of 8 characters.</span>
                            <span class="error" ng-show="changePasswordForm.newPasswordModel.$error.pattern && !changePasswordForm.newPasswordModel.$pristine">Password must contain at least one upper case, one lower case, one number &amp; one special character.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lg-col-3">Confirm New Password</label>
                        <div class="lg-col-5">
                            <input type="password" style="font-family: verdana, sans-serif; font-weight: bold;" class="field field-lg" id="confNewpassord" ng-model="confirmNewPassword" name="confirmNewPasswordModel" placeholder="Confirm New Password" required ng-model-options="{updateOn:'blur focusout'}">
                            <span class="error" ng-show="changePasswordForm.confirmNewPasswordModel.$error.required && (submitted || !changePasswordForm.confirmNewPasswordModel.$pristine)">Confirm password is required.</span>
                            <span class="error" ng-if="(newPassword!='' && confirmNewPassword!='' && newPassword!=null && confirmNewPassword!=null) && (newPassword!=confirmNewPassword) && !changePasswordForm.confirmNewPasswordModel.$pristine">Passwords have to match.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="lg-col-8 right">
                            <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>