<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- **************************************** -->
    <!-- CUSTOM CONFIGURATION -->
    <!-- **************************************** -->
    <!-- 
            Declare a section to be used to define web service endpoint settings
    -->
    <section name="serviceConnectionsGuard" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
    <section name="serviceConnectionsNCCI" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
    <section name="ApplicationContactInfo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="PurchasePathAppBaseURL" value="/PurchasePath/" />
    <add key="LandingPageAppBaseURL" value="/LandingPage/" />
    <add key="GuinnessDB" value="1rbUyK1fmjNWhnBmp0M94qS65rpAyg3WJ7b9l|!~VQulrZMsn5Hi|!~xkkwOh1WLukyvXNS2RPpQgeLA5GlQsMNMH2Twyvq5yjxmRcl9mGsepE8n~|~t41yuuk7~|~TIVe|!~Npw2NMamjzsJVD1FNLrh7ylLk2umh|!~cB5~|~Azg2okmrILC2Vg=" />
    <!--<add key="GuinnessDB" value="e6s4rGTddLfjJzY5cuxiG5AI9x0fLoLCLcoCLio2u1iAPw+Qc8hJdEM/m2hixPlbWclCadaf8UxVpZD1Fk9AomWUA6DoXWmnmhc1xBdtYN982R3T4qb9oT5SHpw1BSlb1kYPIDUxQfWBQmEkkGqMCA=="/>-->
    <!--Cloud typo graphic setting -->
    <add key="CloudTypographyUrl" value="//cloud.typography.com/6273674/760888/css/fonts.css" />

    <!-- Logging setting start -->
    <!-- Enabling Nlog internal logging throw -->
    <add key="EnableNLogTracing" value="false" />
    <!-- Enabling Session object Logging -->
    <add key="EnableSessionObjectLogging" value="false" />
    <!-- Enabling Content logging throw -->
    <add key="EnableContentLogging" value="false" />
    <!--Use to log Transaction detail-->
    <add key="IsTransactionLog" value="true" />
    <!-- Transaction log folder Name -->
    <add key="ReattemptFolderPath" value="C:\Shared\New" />
    <!-- Logging setting End -->

    <!--Google Analytics variables Start -->
    <add key="GACode" value="UA-59105197-6" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Google Analytics End -->

    <!-- inspectlet  variables Start -->
    <!-- Removing setting that required in UAT environment and if required with different setting that added in Insert section below End -->
    <add key="InspectletWid" value="306165198" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- inspectlet  End -->

  </appSettings>
  <!-- Different Web API setting Start -->
  <!-- 
      Section to be used to define web service endpoint settings
    -->
  <serviceConnectionsGuard>
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc2/api/" authUrl="https://ydsml.guard.com/inssvc2/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth" />
  </serviceConnectionsGuard>
  <serviceConnectionsNCCI>
    <add name="XModApi" url="https://www.ncci.com/mod/ModService.svc/rest/" authUrl="" username="MNz6BBIV7GJt9P~|~BDEnr~|~OQPfv48uxOFgAa1hJyjvc4=" password="IjWGNZRDEIIt2iczYRaTmQ5QI9g~|~dizZ9Mh~|~~|~nqGrXQ=" siteNumber="4SDOR8H~|~oUqnAaW6NbWO8ClI6QN7MbdeWLRhl1Kdjyg=" authType="None" testCall="True" />
  </serviceConnectionsNCCI>
  <!-- Different Web API setting End -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>