<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- **************************************** -->
    <!-- CUSTOM CONFIGURATION -->
    <!-- **************************************** -->
    <!-- 
            Declare a section to be used to define web service endpoint settings
    -->
    <section name="serviceConnectionsGuard" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
    <section name="serviceConnectionsNCCI" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
    <section name="ApplicationContactInfo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="PurchasePathAppBaseURL" value="/PurchasePath/" />
    <add key="LandingPageAppBaseURL" value="/LandingPage/" />
    <add key="GuinnessDB" value="1Gd+lHKHLpKJ4esIGd74zDk3kbj31T8zKRW+M9TL+P4tDJe/O7JtnpmVqtyIal+VNqV59pUp0cs2Ye1x57hZA2DL6kt0avkf572KfCp2/yuIZwcnnFTDyoAjaUGTQ/QeVQg/UOnmgqLlNe8CWuqT4Q==" />
    <!--Cloud typo graphic setting -->
    <add key="CloudTypographyUrl" value="//cloud.typography.com/6273674/760888/css/fonts.css" />

    <!-- Logging setting start -->
    <!-- Enabling Nlog internal logging throw -->
    <add key="EnableNLogTracing" value="false" />
    <!-- Enabling Session object Logging -->
    <add key="EnableSessionObjectLogging" value="false" />
    <!-- Enabling Content logging throw -->
    <add key="EnableContentLogging" value="false" />
    <!--Use to log Transaction detail-->
    <add key="IsTransactionLog" value="true" />
    <!-- Transaction log folder Name -->
    <add key="ReattemptFolderPath" value="C:\Shared\New" />
    <!-- Logging setting End -->

    <!-- CDN Setting start -->
    <add key="DefaultThemeId" value="68C2585C-0525-4C36-ABCB-30F486846403" />
    <add key="CdnPath" value="/BHIC.CDN/" />
    <add key="CdnDefaultCommonFolder" value="WC" />
    <add key="CdnDefaultLandingPageFolder" value="LandingPage" />
    <add key="EnableCdn" value="true" />
    <add key="AppName" value="WC" />
    <!-- CDN Setting End -->

    <!-- Application default settings Start -->
    <add key="CountyCacheInterval" value="1440" />
    <add key="IndustryCacheInterval" value="1440" />
    <add key="SubIndustryCacheInterval" value="1440" />
    <add key="LineOfBusinessCacheInterval" value="1440" />
    <add key="GoodAndBadStateCacheInterval" value="1440" />
    <add key="MultipleStatesCacheInterval" value="1440" />

    <!-- SECURE COOKIES Setting start -->
    <!-- Set the below to  'Y' to cause cookies to be saved with the secure flag 
          (which means the cookies in this project will be sent over HTTPS only; not in the clear) -->
    <add key="RequireSecureCookies" value="false" />
    <!-- SECURE COOKIES Setting End -->
    
    <!--BOP Web site URL -->
    <add key="BopUrl" value="/BOP/Quote/GatheringWalkthroughInformation" />

    <!-- inspectlet  variables Start -->
    <add key="InspectletWid" value="1214529395" />
    <!-- inspectlet  End -->
    
    <!--Google Analytics variables Start -->
    <add key="GACode" value="UA-59105197-6" />
    <!--Google Analytics End -->

  </appSettings>



  <!-- Different Web API setting Start -->
  <!-- 
      Section to be used to define web service endpoint settings
    -->
  <serviceConnectionsGuard>
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc2/api/" authUrl="https://ydsml.guard.com/inssvc2/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth" />
  </serviceConnectionsGuard>
  <serviceConnectionsNCCI>
    <add name="XModApi" url="https://www.ncci.com/mod/ModService.svc/rest/" authUrl="" username="MNz6BBIV7GJt9P~|~BDEnr~|~OQPfv48uxOFgAa1hJyjvc4=" password="IjWGNZRDEIIt2iczYRaTmQ5QI9g~|~dizZ9Mh~|~~|~nqGrXQ=" siteNumber="4SDOR8H~|~oUqnAaW6NbWO8ClI6QN7MbdeWLRhl1Kdjyg=" authType="None" testCall="True" />
  </serviceConnectionsNCCI>
  <!-- Different Web API setting End -->
  <system.web>
    <httpCookies requireSSL="false" />
    <authentication mode="None" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10000" enableVersionHeader="false" />
    <customErrors mode="On" defaultRedirect="../../Error/Index" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <!-- Web server security setting related hacking Start -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff " />
      </customHeaders>
    </httpProtocol>
    <!-- Web server security setting related hacking End -->
    <!-- Web server compression setting start-->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files"
      staticCompressionDisableCpuUsage="95" staticCompressionEnableCpuUsage="60"
      dynamicCompressionDisableCpuUsage="95" dynamicCompressionEnableCpuUsage="50">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <!-- Web server compression setting Énd-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
