<?xml version="1.0"?>
<configuration >
  <configSections>
    <section name="ApplicationContactInfo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="alert@xceedance.com">
        <network host="smtp.office365.com" port="587" enableSsl="true" userName="alert@xceedance.com" password="abc@123" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ReattemptFolderPath" value="D:\Shared\New"/>
    <add key="ReattemptArchiveFolderPath" value="D:\Shared\Archive"/>
    <add key="ReattemptFailureFolderPath" value="D:\Shared\Failure"/>
    <add key="GuinnessDB" value="1Gd+lHKHLpKJ4esIGd74zDk3kbj31T8zKRW+M9TL+P4tDJe/O7JtnpmVqtyIal+VNqV59pUp0cs2Ye1x57hZA2DL6kt0avkf572KfCp2/yuIZwcnnFTDyoAjaUGTQ/QeVQg/UOnmgqLlNe8CWuqT4Q==" />
    <!-- Default Theme - Set the default theme. This should always sync with the value stored in lookups. -->
    <add key="CdnPath" value="/BHIC.CDN/" />
    <!-- Default setting for using CDN -->
    <add key="EnableCdn" value="true" />
    <add key="AppName" value="WC" />
    <add key="EmailTemplatePath" value="http://localhost/BHIC.CDN/Home/ReadTemplateContent" />

    <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="RetreiveQuoteEmailTo" value="" />
    <add key="RetreiveQuoteEmailCc" value="" />
    <add key="RetreiveQuoteEmailBcc" value="" />
    <add key="RetreiveQuoteEmailFrom" value="" />
    <!--Internal team Email Setting End -->
    
  </appSettings>
  <ApplicationContactInfo file="ApplicationContactInfo.config" />
</configuration>