@using BHIC.Common.Html;
@using BHIC.Common.Configuration;
<div class="row equalize">
    <div class="lg-col-5 md-col-12 fullPageHalfCol __web-inspector-hide-shortcut__">
        <div class="the-box contact-info-box content-box no-equalize" style="height: 130px;">
            <p class="text-big text-bold mbhalf">For Customer Service</p>
            <p class="contactNo m0">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="-293 384 25 25" xml:space="preserve">
<path class="stroke-teal" d="M-274 399.5c-0.4-0.3-1.5-0.6-2.4 0.5 -0.9 1.1-1.9 2.9-6-1.2 -4.1-4.1-2.3-5.1-1.2-6 1.1-0.9 0.8-2 0.5-2.4 -0.3-0.4-2.2-3.4-2.5-3.8 -0.3-0.5-0.8-1.3-1.8-1.1 -0.8 0.1-3.7 1.7-3.7 5s2.6 7.4 6.2 11c3.6 3.6 7.6 6.2 11 6.2 3.3 0 4.9-2.9 5-3.7 0.1-1-0.6-1.5-1.1-1.8C-270.6 401.7-273.5 399.8-274 399.5z"></path>
</svg>
                </span> Phone: <a href="" class="sysPhoneAnchor">  </a>
            </p>
            <p class="contactNo m0">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="-293 384 25 25" xml:space="preserve">
<rect x="-291" y="390.4" class="stroke-teal" width="21.1" height="14.1"></rect><polyline class="stroke-teal" points="-291 390.4 -280.5 400.8 -269.9 390.4 "></polyline><line class="stroke-teal" x1="-276.9" y1="397.3" x2="-269.9" y2="404.5"></line><line class="stroke-teal" x1="-291" y1="404.5" x2="-284" y2="397.3"></line></svg>
                </span> <a href="mailto:CustomerService@CoverYourBusiness.com"> CustomerService@CoverYourBusiness.com </a>
            </p>
        </div>
        <!-- /.contact-info-box-->
    </div><!-- /.lg-col-5-->


    <div class="lg-col-4 md-col-12 fullPageHalfCol">
        <div class="the-box contact-info-box">
            <p class="text-big text-bold mbhalf">For Claims</p>
            <p class="contactNo">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="-293 384 25 25" xml:space="preserve">
<path class="stroke-teal" d="M-274 399.5c-0.4-0.3-1.5-0.6-2.4 0.5 -0.9 1.1-1.9 2.9-6-1.2 -4.1-4.1-2.3-5.1-1.2-6 1.1-0.9 0.8-2 0.5-2.4 -0.3-0.4-2.2-3.4-2.5-3.8 -0.3-0.5-0.8-1.3-1.8-1.1 -0.8 0.1-3.7 1.7-3.7 5s2.6 7.4 6.2 11c3.6 3.6 7.6 6.2 11 6.2 3.3 0 4.9-2.9 5-3.7 0.1-1-0.6-1.5-1.1-1.8C-270.6 401.7-273.5 399.8-274 399.5z"></path>
</svg>
                </span> Toll Free: <a href="" class="mailingClaims_NewClaimPhone"></a>
            </p>
            <p class="contactNo">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="-293 384 25 25" xml:space="preserve">
<path class="stroke-teal" d="M-283.6 402.3c0.2 0 0.6-0.3 0.5-0.8 -0.1-0.5-0.3-1.3 2-1.3 2.2 0 2 0.8 2 1.3 -0.1 0.5 0.3 0.7 0.5 0.8 0.2 0 1.5 0.3 1.7 0.4 0.2 0 0.6 0.1 0.8-0.2 0.2-0.2 0.6-1.5-0.4-2.4 -0.9-0.9-2.7-1.3-4.7-1.3 -2 0-3.8 0.4-4.7 1.3 -0.9 0.9-0.5 2.1-0.4 2.4 0.2 0.3 0.6 0.2 0.8 0.2C-285.1 402.6-283.8 402.3-283.6 402.3z"></path><rect x="-286.4" y="388.8" class="stroke-teal" width="10.6" height="7.4"></rect><line class="stroke-teal" x1="-284.2" y1="391.4" x2="-277.9" y2="391.4"></line><line class="stroke-teal" x1="-284.2" y1="393.9" x2="-277.9" y2="393.9"></line><path class="stroke-teal" d="M-274.5 404.9h-13.2c-1.1 0-2-0.9-2-2v-2.2c0-2.5 2-4.5 4.5-4.5h8.7c2.2 0 4.1 1.8 4.1 4.1v2.6C-272.5 404-273.4 404.9-274.5 404.9z"></path>
</svg>
                </span> Fax: <a href="javascript:void(0);" class="faxNumber_Claims"></a>
            </p>
            <p class="contactNo">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="-293 384 25 25" xml:space="preserve">
<rect x="-291" y="390.4" class="stroke-teal" width="21.1" height="14.1"></rect><polyline class="stroke-teal" points="-291 390.4 -280.5 400.8 -269.9 390.4 "></polyline><line class="stroke-teal" x1="-276.9" y1="397.3" x2="-269.9" y2="404.5"></line><line class="stroke-teal" x1="-291" y1="404.5" x2="-284" y2="397.3"></line></svg>
                </span> <a href="mailto:Claims@CoverYourBusiness.com"> Claims@CoverYourBusiness.com </a>
            </p>

        </div><!-- /.contact-info-box-->
    </div><!-- /.lg-col-4-->

    <div class="lg-col-3 md-col-12 fullPageHalfCol">
        <div class="the-box contact-info-box content-box no-equalize">
            <p class="m0">
                <span class="text-big text-bold companyDomain"></span>
                <br> <span class="physicalAddress2"></span>
                <br> <span class="physical_AddressCSZ"></span>
            </p>
            <!--end row-->
        </div><!-- /.contact-info-box-->
    </div> <!-- /.lg-col-3-->

</div> <!--end row-->
<h4> If you have Commercial Auto Insurance </h4>
<div class="row equalize">
    <div class="lg-col-5 md-col-12 fullPageHalfCol">
        <div class="the-box contact-info-box content-box no-equalize">
            <p class="text-big text-bold mbhalf">For Customer Service</p>
            <p class="mb0">  Log into your <a href="https://www.geico.com/commercial-auto-insurance/?policyholder" target="_blank">GEICO commercial auto policy </a> for fast convenient service or you can reach GEICO at <a href="tel:8665099444" style="white-space:nowrap;">(866) 509-9444</a> for any questions related to your policy. GEICO's Customer Support representatives are available from Monday - Friday, 8:00 am - 9:00 pm ET. </p>
        </div>
        <!-- /.contact-info-box-->
    </div>
    <!-- /.lg-col-4-->

    <div class="lg-col-7 md-col-12 fullPageHalfCol">
        <div class="the-box contact-info-box content-box no-equalize">
            <p class="text-big text-bold mbhalf">For Claims</p>
            <p> You can reach GEICO at <a href="tel:8665099444"> (866) 509-9444 </a> for any claims related to your Commercial Auto policy. GEICO's Customer Support representatives are available from Monday - Friday, 8:00 am - 9:00 pm ET. </p>
            <p class="mb0 text-medium"> If you prefer, you can mail your claims-related correspondence to: </p>
            <p class="mb0">
                <span class=""> GEICO Commercial Claims </span>
                <br> P.O. Box 6550
                <br> Fredericksburg, VA 22403-9910
            </p>
        </div>
        <!-- /.contact-info-box-->
    </div>
    <!-- /.lg-col-4-->
</div>
@CDN.RenderScripts("/bundles/scripts/common-system-variables")