@using BHIC.Common.Configuration;

<div ng-init="requestLossRunController">
    <div class="alert info-panel">
        <p class="alert-text">
            To request a loss run for your policy, please call us at <a href="" class="sysPhoneAnchor"></a> or email us at <a class="long-email" href="mailto:CustomerService@CoverYourBusiness.com">CustomerService@CoverYourBusiness.com</a>.
        </p>
    </div>
</div>
@CDN.RenderScripts("/bundles/scripts/common-system-variables")