<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- **************************************** -->
    <!-- CUSTOM CONFIGURATION -->
    <!-- **************************************** -->
    <!-- 
            Declare a section to be used to define web service endpoint settings
    -->
    <section name="serviceConnectionsGuard" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
    <section name="serviceConnectionsNCCI" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
    <section name="ApplicationContactInfo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="alert@xceedance.com">
        <network host="smtp.office365.com" port="587" enableSsl="true" userName="alert@xceedance.com" password="abc@123" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <clear/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Environment" value="DEV" />
    <add key="IsLiveEnvironment" value="false" />

    <!-- Payment Gateway integration setting start -->
    <add key="IsTestingPaymentGateway" value="true" />
    <add key="PaymentAPIURL" value="https://authorize.net/gateway/transact.dll" />
    <add key="PaymentURLIP" value="" />
    <add key="PaymentURL" value="/" />
    <add key="PaymentLogin" value="4GArXgc52S" />
    <add key="PaymentTransactionKey" value="4nYqz5A79T4g29Se" />
    <!--System variable setting for PG Start -->
    <add key="UseSystemVariable" value="false" />
    <add key="SystemVariableCacheDuration" value="30" />
    <add key="CreditCardPayments_AuthorizeNET_InTesting" value="CreditCardPayments_AuthorizeNET_InTesting" />
    <add key="CreditCardPayments_AuthorizeNET_LoginID" value="CreditCardPayments_AuthorizeNET_LoginID" />
    <add key="CreditCardPayments_AuthorizeNET_transactionKey" value="CreditCardPayments_AuthorizeNET_transactionKey" />
    <!--System variable setting for PG End -->
    <!-- Payment Gateway integration setting End -->
    <add key="PolicyCreateDTOName" value="PolicyData" />
    <add key="PolicyCreateDTOProperty" value="MgaCode" />

    <!-- SECURE COOKIES Setting start -->
    <!-- Set the below to  'Y' to cause cookies to be saved with the secure flag 
          (which means the cookies in this project will be sent over HTTPS only; not in the clear) -->
    <add key="RequireSecureCookies" value="false" />
    <!-- SECURE COOKIES Setting End -->

    <!-- CDN Setting start -->
    <!-- Default Theme - Set the default theme. This should always sync with the value stored in lookups. -->
    <add key="CdnPath" value="/BHIC.CDN/" />
    <!-- CDN Default folder name for Policy Centre Dashboard -->
    <add key="CdnDefaultDashboardFolder" value="PolicyCentre" />
    <!-- Default Common Folder - Set the default FolderName. This will be useful for all common resource for mutiple projects -->
    <add key="CdnDefaultCommonFolder" value="Common" />
    <!-- Default WC Folder - Set the default WC FolderName. Workers Compnesation project default folder -->
    <add key="CdnDefaultWcFolder" value="WC" />
    <!-- Default setting for using CDN -->
    <add key="EnableCdn" value="true" />
    <!-- Default Theme - Set the default theme. This should always sync with the value stored in lookups. -->
    <add key="DefaultThemeId" value="68C2585C-0525-4C36-ABCB-30F486846403" />
    <!-- CDN Setting End -->

    <!-- Application default settings Start -->
    <add key="CountyCacheInterval" value="1440" />
    <add key="IndustryCacheInterval" value="1440" />
    <add key="SubIndustryCacheInterval" value="1440" />
    <add key="LineOfBusinessCacheInterval" value="1440" />
    <add key="GoodAndBadStateCacheInterval" value="1440" />
    <add key="MultipleStatesCacheInterval" value="1440" />
    <add key="ApplicationHomeUrl" value="/PurchasePath/Home" />
    <add key="AppName" value="WC" />
    <add key="AddNumberofMonthinXModExpiryDate" value="8" />

    <add key="PurchasePathAppBaseURL" value="/PurchasePath/" />
    <add key="PolicyCentreURL" value="/PolicyCenter/" />
    <add key="PolicyCentreDashboardURL" value="/PolicyCenter/Dashboard/Index" />
    <add key="StaticCommonFilePath" value="/BHIC.CDN/content/Common/static-files/" />
    <add key="StaticCommonFilePathForLossControlEnglish" value="/BHIC.CDN/content/Common/static-files/loss-control/english" />
    <add key="StaticCommonFilePathForLossControlSpanish" value="/BHIC.CDN/content/Common/static-files/loss-control/spanish" />
    <add key="WcEmailTemplateImgPath" value="/Content/WC/themes/_sharedFiles/emailImages/" />
    <add key="InspectletWid" value="" />
    <!-- Application default settings End -->

    <!-- DB setting Start -->
    <add key="DBKeyName" value="GuinnessDB" />
    <add key="GuinnessDB" value="7dPUo7bjxU0yp6YE4kFsljxMhi7oOmmYFvk64osOAnfXoKNjg9pxBCvoWQgjox03exJM~|~AkgpMEr1h0nnEn2QeFCbF01j6vexUTHRwyIQRbyuBvCxefBX12GvdHvimUYJ8e6FSNCXTvA8UQ5vQtfZA==" />
    <!-- DB setting End -->

    <!-- Logging setting start -->
    <!-- Enabling Nlog internal logging throw -->
    <add key="EnableNLogTracing" value="false" />
    <!-- Enabling Session object Logging -->
    <add key="EnableSessionObjectLogging" value="false" />
    <!-- Enabling Content logging throw -->
    <add key="EnableContentLogging" value="false" />
    <!--Use to log Transaction detail-->
    <add key="IsTransactionLog" value="true" />
    <!-- Transaction log folder Name -->
    <add key="ReattemptFolderPath" value="C:\Shared\New" />
    <!-- Logging setting End -->

    <!-- Specific Question setting start -->
    <!-- Added guard questionnaire question (How many years have you been in business under the current management) questionId -->
    <add key="HowLongBeenInBusinessQuestionId" value="117" />
    <!-- Added guard questionnaire question (Total Number of Claims in Past Three Years) questionId -->
    <add key="TotalNumbeOfClaimInPastThreeYears" value="76" />
    <!-- Specific Question setting End -->

    <!--Live chat variables Start -->
    <add key="LCSrc" value="https://cdn.livechatinc.com/tracking.js" />
    <add key="LCLicense" value="5059511" />
    <add key="LCgroup" value="10" />
    <add key="LCServerName" value="Server" />
    <add key="LCServerValue" value="CoverYourBusiness" />
    <!--Live chat variables End -->

    <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="ClientEmailID" value="guinnessdev@xceedance.com" />
    <add key="ClientEmailIdCreatePolicyFailure" value="CreatePolicy@CoverYourBusiness.com" />
    <add key="APIFailureEmails" value="gurdarshan.singh@xceedance.com;nishank.srivastava@xceedance.com;prem.pratap@xceedance.com;amit.kumar1@xceedance.com; Navneet.Kumar@xceedance.com" />
    <add key="APILogFileName" value="C:\Shared\APILog\APILogFile{0}.log" />
    <add key="WelcomeEmailTo" value="" />
    <add key="WelcomeEmailCc" value="" />
    <add key="WelcomeEmailBcc" value="guinnessdev@xceedance.com" />
    <add key="WelcomeEmailFrom" value="" />
    <add key="RegistrationEmailTo" value="" />
    <add key="RegistrationEmailCc" value="" />
    <add key="RegistrationEmailBcc" value="" />
    <add key="RegistrationEmailFrom" value="" />
    <add key="PolicyCreationFailureIntimationTo" value="gurdarshan.singh@xceedance.com;nishank.srivastava@xceedance.com;prem.pratap@xceedance.com;amit.kumar1@xceedance.com; Navneet.Kumar@xceedance.com" />
    <add key="PolicyCreationFailureIntimationCc" value="" />
    <add key="policyCreationFailureIntimationBcc" value="" />
    <add key="PolicyCreationFailureIntimationFrom" value="" />
    <add key="ResetPasswordEmailTo" value="" />
    <add key="ResetPasswordEmailCc" value="" />
    <add key="ResetPasswordEmailBcc" value="" />
    <add key="ResetPasswordEmailFrom" value="" />
    <add key="ReferralEmailTo" value="gurdarshan.singh@xceedance.com" />
    <add key="ReferralEmailCc" value="" />
    <add key="ReferralEmailBcc" value="" />
    <add key="ReferralEmailFrom" value="" />
    <add key="RetreiveQuoteEmailTo" value="" />
    <add key="RetreiveQuoteEmailCc" value="" />
    <add key="RetreiveQuoteEmailBcc" value="" />
    <add key="RetreiveQuoteEmailFrom" value="" />
    <add key="PolicyChangeEmailTo" value="" />
    <add key="PolicyChangeEmailCc" value="" />
    <add key="PolicyChangeEmailBcc" value="" />
    <add key="PolicyChangeEmailFrom" value="" />
    <add key="PolicyCancellationEmailTo" value="" />
    <add key="PolicyCancellationEmailCc" value="" />
    <add key="PolicyCancellationEmailBcc" value="" />
    <add key="PolicyCancellationEmailFrom" value="" />
    <add key="AddressChangeEmailTo" value="" />
    <add key="AddressChangeEmailCc" value="" />
    <add key="AddressChangeEmailBcc" value="" />
    <add key="AddressChangeEmailFrom" value="" />
    <add key="ClaimRequestEmailTo" value="" />
    <add key="ClaimRequestEmailCc" value="" />
    <add key="ClaimRequestEmailBcc" value="" />
    <add key="ClaimRequestEmailFrom" value="" />
    <add key="ApiFailureEmailTo" value="gurdarshan.singh@xceedance.com;nishank.srivastava@xceedance.com;prem.pratap@xceedance.com;amit.kumar1@xceedance.com; Navneet.Kumar@xceedance.com" />
    <add key="ApiFailureEmailCc" value="" />
    <add key="ApiFailureEmailBcc" value="" />
    <add key="ApiFailureEmailFrom" value="" />
    <add key="ForgotPasswordEmailTo" value="" />
    <add key="ForgotPasswordEmailCc" value="" />
    <add key="ForgotPasswordEmailBcc" value="" />
    <add key="ForgotPasswordEmailFrom" value="" />
    <add key="ScheduleCallEmailTo" value="anuj.singh@xceedance.com" />
    <add key="ScheduleCallEmailCc" value="nishank.srivastava@xceedance.com;prem.pratap@xceedance.com" />
    <add key="ScheduleCallEmailBcc" value="" />
    <add key="ScheduleCallEmailFrom" value="" />

    <!--Internal team Email Setting End -->

    <!--BOP and Commercial Auto i.e. GEICO Setting Start -->
    <!--Enable/Disable BOP-->
    <add key="EnableBOP" value="true" />
    <!--BOP Web site URL -->
    <add key="BopUrl" value="/BOP/Quote/StartBopQuote?secureQuoteID={0}" />
    <!-- Enable Commerical Auto Link -->
    <add key="EnableCommercialAuto" value="true" />
    <!--Commerical Auto Web site URL -->
    <add key="CommercialAutoURL" value="https://commercial-us.geico.com/sales/Quote/LandingPage.aspx" />
    <!--Commercial Auto Advertisement code id provided by Geiko-->
    <add key="SOACode" value="86399" />
    <!--BOP and Commercial Auto i.e. GEICO Setting End -->

    <!--Google Analytics variables Start -->
    <add key="GACode" value="UA-59105197-6" />
    <!--Google Analytics End -->

    <!-- Added to handle referral question error-message in case of Multiple Risk Ids -->
    <add key="MultipleRiskIdErrorMessage" value="Multiple Risk Ids Returned for Federal Employer Identification Number" />

    <!--Cloud typo graphic setting -->
    <add key="CloudTypographyUrl" value="//cloud.typography.com/6273674/760888/css/fonts.css" />

    <!-- Allowed files list -->
    <add key="AllowedFileTypes" value=".pdf,.doc,.docx,.log,.msg,.rtf,.txt,.wpd,.wps,.xlr,.xls,.xlsx,.m4a,.mid,.mp3,.mpa,.ra,.wav,.wma,.avi,.m4v,.mov,.mp4,.mpg,.wmv,.bmp,.gif,.jpg,.jpeg,.png,.tif,.tiff,.svg,.zip" />

    <!-- Maximum Files Upload Count -->
    <add key="MaxFileCount" value="3" />

    <!-- Upload file setting start -->
    <add key="UploadFiles" value="C:\Content\PurchasePath\ReferralDocuments\" />

    <!--To Reload Local Stored Data -->
    <add key="RelaodLocalData" value="false" />

    <!--To Store Master Data Locally -->
    <add key="LocalStoredDataPath" value="C:\Content\PurchasePath\LocalStoredData\" />

    <!--Notification Templage Path-->
    <add key="EmailTemplatePath" value="/BHIC.CDN/Home/ReadTemplateContent" />

  </appSettings>

  <!-- Different Web API setting Start -->
  <!-- 
      Section to be used to define web service endpoint settings
    -->
  <serviceConnectionsGuard>
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc2/api/" authUrl="https://ydsml.guard.com/inssvc2/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth" />
  </serviceConnectionsGuard>
  <serviceConnectionsNCCI>
    <add name="XModApi" url="https://www.ncci.com/mod/ModService.svc/rest/" authUrl="" username="MNz6BBIV7GJt9P~|~BDEnr~|~OQPfv48uxOFgAa1hJyjvc4=" password="IjWGNZRDEIIt2iczYRaTmQ5QI9g~|~dizZ9Mh~|~~|~nqGrXQ=" siteNumber="4SDOR8H~|~oUqnAaW6NbWO8ClI6QN7MbdeWLRhl1Kdjyg=" authType="None" testCall="True" />
  </serviceConnectionsNCCI>
  <!-- Different Web API setting End -->

  <!-- your custom section, but referenced in another file -->
  <ApplicationContactInfo file="ApplicationContactInfo.config" />

  <system.web>
    <httpCookies requireSSL="false" />
    <authentication mode="None" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10000" enableVersionHeader="false" />
    <customErrors mode="On" defaultRedirect="../../Error/Index" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" timeout="20">
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <!-- Web server security setting related hacking Start -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Vary"></remove>
        <add name="Vary" value="Accept-Encoding"></add>
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff " />
      </customHeaders>
    </httpProtocol>
    <!-- Web server security setting related hacking End -->
    <!-- Web server compression setting start-->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <!-- Web server compression setting Énd-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
