<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <!-- Mail Setting Start -->
    <mailSettings>
      <smtp from="DoNotReply@CoverYourBusiness.com" xdt:Transform="Replace">
        <network host="WEBMAIL.GUARD.COM" port="25" enableSsl="true" userName="CYB_SMTP_SERVICE_ACCOUNT@GUARD.COM" password="73ncrYpt#7"/>
      </smtp>
    </mailSettings>
    <!-- Mail Setting End -->
  </system.net>

  <appSettings>
    <!-- Removing setting that required in UAT environment and if required with different setting that added in Insert section below start -->
    <add key="EnableNLogTracing" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="EnableSessionObjectLogging" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="EnableContentLogging" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="GuinnessDB" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="RequireSecureCookies" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="EnableBOP" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="EnableCommercialAuto" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="CommercialAutoURL" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="SOACode" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="IsLiveEnvironment" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="IsTestingPaymentGateway" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="UploadFiles" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="RelaodLocalData" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="LocalStoredDataPath" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <!-- Removing setting that required in UAT environment and if required with different setting that added in Insert section below End -->
    <add key="InspectletWid" value="1623838665" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Updating setting that required different setting in UAT environment start -->
    <add key="Environment" value="Production" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Payment Gateway integration setting start -->
    <add key="PaymentURLIP" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PaymentURL" value="/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PaymentLogin" value="3d8Tp8K25Z"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PaymentTransactionKey" value="65CMt5K2pr7Tgs99"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--System variable setting for PG Start -->
    <add key="UseSystemVariable" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SystemVariableCacheDuration" value="30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CreditCardPayments_AuthorizeNET_InTesting" value="CreditCardPayments_AuthorizeNET_InTesting" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CreditCardPayments_AuthorizeNET_LoginID" value="CreditCardPayments_AuthorizeNET_LoginID" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CreditCardPayments_AuthorizeNET_transactionKey" value="CreditCardPayments_AuthorizeNET_transactionKey" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--System variable setting for PG End -->
    <!-- Payment Gateway integration setting End -->

    <!-- CDN Setting start -->
    <add key="CdnPath" value="/CDN/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- CDN Setting End -->

    <!-- Application default settings Start -->
    <add key="ApplicationHomeUrl" value="/PurchasePath/Home" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCentreURL" value="/PolicyCenter/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCentreDashboardURL" value="/PolicyCenter/Dashboard/Index" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StaticCommonFilePath" value="/CDN/content/Common/static-files/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StaticCommonFilePathForLossControlEnglish" value="/CDN/content/Common/static-files/loss-control/english" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="StaticCommonFilePathForLossControlSpanish" value="/CDN/content/Common/static-files/loss-control/spanish" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <!-- Application default settings End -->

    <!-- Logging setting start -->
    <!-- Transaction log folder Name -->
    <add key="ReattemptFolderPath" value="F:\CYB\DBReattempt\New" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- Logging setting End -->

    <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    
    <!--Internal team Email Setting Start -->
    <add key="APILogFileName" value="F:\CYB\APILog\APILogFile{0}.log" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="ClientEmailID" value="CYBsupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientEmailIdCreatePolicyFailure" value="CreatePolicy@CoverYourBusiness.com" />
    <add key="APIFailureEmails" value="CYBsupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
   
    <add key="WelcomeEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailBcc" value="DirectSalesIssuance@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailFrom" value="Welcome@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailFrom" value="Registration@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCreationFailureIntimationTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCreationFailureIntimationCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="policyCreationFailureIntimationBcc" value="DirectSalesIssuance@CoverYourBusiness.com; Jeanette.Carter@CoverYourBusiness.com; Marsha.Richardson@CoverYourBusiness.com; Beth.Stair@CoverYourBusiness.com; Lisa.Parsons@CoverYourBusiness.com; Matt.Mezzacapo@CoverYourBusiness.com; Aaron.Remakus@CoverYourBusiness.com; Lenny.Coviello@CoverYourBusiness.com; Denise.Walsh@CoverYourBusiness.com; Janet.Lowin@CoverYourBusiness.com; Julie.Wanzenried@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCreationFailureIntimationFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailFrom" value="PasswordResetConfirmation@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailBcc" value="pshelley@berkre.com; Jeanette.Carter@CoverYourBusiness.com; Marsha.Richardson@CoverYourBusiness.com; Beth.Stair@CoverYourBusiness.com; Lisa.Parsons@CoverYourBusiness.com; Matt.Mezzacapo@CoverYourBusiness.com; Aaron.Remakus@CoverYourBusiness.com; Lenny.Coviello@CoverYourBusiness.com; Denise.Walsh@CoverYourBusiness.com; Janet.Lowin@CoverYourBusiness.com; Julie.Wanzenried@CoverYourBusiness.com; apevarnik@berkre.com; rgupta@berkre.com; Saurabh.Mehta@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailFrom" value="Quotes@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailBcc" value="pshelley@berkre.com; jeanette.carter@coveryourbusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailTo" value="Claims@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailBcc" value="pshelley@berkre.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailTo" value="cybsupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailFrom" value="PasswordReset@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailBcc" value="Jeanette.Carter@CoverYourBusiness.com; Marsha.Richardson@CoverYourBusiness.com; Beth.Stair@CoverYourBusiness.com; Lisa.Parsons@CoverYourBusiness.com; Matt.Mezzacapo@CoverYourBusiness.com; Aaron.Remakus@CoverYourBusiness.com; Lenny.Coviello@CoverYourBusiness.com; Denise.Walsh@CoverYourBusiness.com; Janet.Lowin@CoverYourBusiness.com; Julie.Wanzenried@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Internal team Email Setting End -->

    <add key="GACode" value="UA-59105197-7" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="CloudTypographyUrl" value="//cloud.typography.com/6273674/7792952/css/fonts.css" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="EmailTemplatePath" value="/CDN/Home/ReadTemplateContent" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

    <!-- Updating setting that required different setting in End environment End -->

    <!-- Inserting setting that required different setting in UAT environment start -->
    <!--BOP and Commercial Auto i.e. GEICO Setting Start -->
    <add key="EnableBOP" value="true" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <!-- Enable Commerical Auto Link -->
    <add key="EnableCommercialAuto" value="true" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <!--Commerical Auto Web site URL -->
    <add key="CommercialAutoURL" value="https://commercial.geico.com/Sales/Quote/LandingPage.aspx" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <!--Commercial Auto Advertisement code id provided by Geiko-->
    <add key="SOACode" value="86399" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <!--BOP and Commercial Auto i.e. GEICO Setting End -->
    <!-- Upload file setting start -->
    <add key="UploadFiles" value="F:\CYB\upload-documents\PurchasePath\" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <!-- Upload file setting End -->
    <add key="GuinnessDB" value="VmEqEsGH~|~74SV1Pc03uFSksPeVqyG|!~oe5FHWlTzQ2xwLZqh~|~KQxdPfDsrJkQu|!~Wsi2KgyMWvmp07BUNzfZ5mY5XzAvdW7RGJ7gPnTD21O3veQLCeeBqfdU0pTGCTL119PyoHw5jXrcOzwvpmCHUp2A==" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <!-- Inserting setting that required different setting in UAT environment End -->

  </appSettings>
  <system.web>
    <httpCookies xdt:Transform="RemoveAll" />
    <httpCookies requireSSL="true" xdt:Transform="Insert" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState xdt:Transform="RemoveAll" />
    <sessionState mode="InProc" timeout="120" xdt:Transform="Insert" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Https Redirection" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <serviceConnectionsGuard xdt:Transform="Replace">
    <add name="InsuranceApi" url="https://dsml.guard.com/inssvc/api" authUrl="https://dsml.guard.com/inssvc/auth" username="kzY~|~Z2mnsbe1G9rThO4pmK61p1hhxifQ16VOg|!~Pf3uCn~|~I5RFy5SeshD~|~9W03KAz" password="N~|~u8iAegoU1~|~qKUSR3sy5bHvsNgaB52B07fBOfKkexibUHesnV2LGAOI59iz~|~BT1" authType="OAuth"/>
  </serviceConnectionsGuard>
  <serviceConnectionsNCCI xdt:Transform="Replace">
    <add name="XModApi" url="https://www.ncci.com/mod/ModService.svc/rest/" authUrl="" username="MNz6BBIV7GJt9P~|~BDEnr~|~OQPfv48uxOFgAa1hJyjvc4=" password="IjWGNZRDEIIt2iczYRaTmQ5QI9g~|~dizZ9Mh~|~~|~nqGrXQ=" siteNumber="4SDOR8H~|~oUqnAaW6NbWO8ClI6QN7MbdeWLRhl1Kdjyg=" authType="None" testCall="COR" />
  </serviceConnectionsNCCI>

</configuration>

