/******* CSS for Large Screen *******/

@media (min-width:801px) {
body{padding-top: 130px;}
.logo-brand{width:300px;height:108px; position:absolute;}
.top-nav-content{position: relative;margin-left:300px;height:55px;}
.top-navbar{height:128px;}
.top-most-nav{margin-left: 300px;	padding-right:15px;}
.top-most-nav .topUserPanel{width:auto; float:right;}
.top-most-nav .topUserPanel>.mega-ul>.profile { margin-left:20px; }
.top-navbar-inner .topNavigation
{ float:left; border-bottom:none; display:block; }
.top-navbar-inner .topNavigation li {	display:inline-block; border-bottom:none; }
.btn-collapse-nav{display:none;}
.top-navbar-inner .topNavigation li.topNavActive{	border-bottom:5px solid #079586; background:none;}
.pageHeading h1 {font-size: 32px;}
.productBox{margin-bottom:0px;}
.thebox{padding:30px;}
.top-navbar.toggle{left:300px;right: -300px;}
.sidebar-left{left:0px;top:128px; width:300px;}
.pageHeading{padding-bottom:30px;}
.page-content{margin-left: 300px;left: 0;}
.page-content.toggle{left: 0;margin-left:300px;margin-right: -300px;}
.page-content.toggle-left{margin-left: -300px;margin-right: 300px;}
.sidebar-right.toggle-left{right: 0px;}
.nav-dropdown-content{height: auto;max-width: 100%;}
.btn-collapse-sidebar-right{top: -60px;}
.btn-collapse-sidebar-left{display:none;}
.navbar-collapse.in{ border-bottom:2px solid #226078;}
.btn {width: auto;}
.topUserPanel .notificationPanel {position:absolute; right:0px; left:auto;}
.topUserPanel .notificationPanel:after { left:auto; right:11px;}
.productBox .action-panel {max-width:inherit;}
.productBox .action-panel li a {white-space:nowrap;}
.form-horizontal .form-group:after {
		content: "";
		display: table;
		clear: both;
	}
	.form-horizontal .form-group>label {
	    padding-top: 7px; line-height:18px;
	    margin-bottom: 0;
	    text-align: right;
	}
}


/******* CSS for Medium Screen *******/

@media (min-width:481px) and (max-width:800px) {
.btn {width: auto;}
}
/******* CSS for Large Screen *******/

@media (min-width:801px) {
body{padding-top: 130px;}
.logo-brand{width:300px;height:108px; position:absolute;}
.top-nav-content{position: relative;margin-left:300px;height:55px;}
.top-navbar{height:128px;}
.top-most-nav{margin-left: 300px;	padding-right:15px;}
.top-most-nav .topUserPanel{width:auto; float:right;}
.top-most-nav .topUserPanel>.mega-ul>.profile { margin-left:20px; }
.top-navbar-inner .topNavigation
{ float:left; border-bottom:none; display:block; }
.top-navbar-inner .topNavigation li {	display:inline-block; border-bottom:none; }
.btn-collapse-nav{display:none;}
.top-navbar-inner .topNavigation li.topNavActive{	border-bottom:5px solid #079586; background:none;}
.pageHeading h1 {font-size: 32px;}
.productBox{margin-bottom:0px;}
.thebox{padding:30px;}
.top-navbar.toggle{left:300px;right: -300px;}
.sidebar-left{left:0px;top:128px; width:300px;}
.pageHeading{padding-bottom:30px;}
.page-content{margin-left: 300px;left: 0;}
.page-content.toggle{left: 0;margin-left:300px;margin-right: -300px;}
.page-content.toggle-left{margin-left: -300px;margin-right: 300px;}
.sidebar-right.toggle-left{right: 0px;}
.nav-dropdown-content{height: auto;max-width: 100%;}
.btn-collapse-sidebar-right{top: -60px;}
.btn-collapse-sidebar-left{display:none;}
.navbar-collapse.in{ border-bottom:2px solid #226078;}
.btn {width: auto;}
.topUserPanel .notificationPanel {position:absolute; right:0px; left:auto;}
.topUserPanel .notificationPanel:after { left:auto; right:11px;}
.productBox .action-panel {max-width:inherit;}
.productBox .action-panel li a {white-space:nowrap;}
.form-horizontal .form-group:after {
		content: "";
		display: table;
		clear: both;
	}
	.form-horizontal .form-group>label {
	    padding-top: 7px; line-height:18px;
	    margin-bottom: 0;
	    text-align: right;
	}
}


/******* CSS for Medium Screen *******/

@media (min-width:481px) and (max-width:800px) {
.btn {width: auto;}
}
