
<!--Comment : Here MetaTag Information For Antifogery Token Handling -->
<meta name="AppAuthTokenNotFound" content="true">

<header class="with-nav"></header>
<section class="page-content">    
    <div class="container">
        <div class="alert alert-warning alert-big">
            <p class="text-bold alert-text-big"> Unautorized Access! </p>
            <p class="alert-text">
                Your cookie has timed out. &nbsp;
            </p>
        </div>
    </div>
</section>
