@using BHIC.Common.Html;
@using BHIC.Common.XmlHelper;
@using BHIC.Common.Configuration;

@*<header class="with-nav"></header>*@
<section class="page-content">
    <div class="container">
        <div class="alert alert-warning alert-big">
            <p class="text-bold alert-text-big"> Sorry, we couldn't find the page you are looking for. </p>
            <p class="alert-text">
                Please use the top navigation to find the page you are looking for or you can simply go to <a href='@ConfigCommonKeyReader.AppBaseUrl'>Homepage.</a>
            </p>

            @*<p class="alert-text">
                Please use the top navigation to find the page you are looking for. Or you can simply go to <a href='@string.Concat(HttpContext.Current.Request.Url.Scheme, "://",HttpContext.Current.Request.Url.Host, BHIC.Common.XmlHelper.ConfigCommonKeyReader.PurchasePathAppBaseURL)'>Homepage.</a>
            </p>*@
        </div>
    </div>
</section>
