
<section class="page-content">
    <div class="container">
        <div class="alert alert-warning alert-big">
            @*<p class="text-bold alert-text-big"> Quote Expired! </p>*@  @*  Debesh Comments :  Not needed for the Fix *@
            <p class="alert-text">
                This quote does not exist any longer
            </p>
        </div>
    </div>
</section>
