<?xml version="1.0" encoding="utf-8" ?>
<ApplicationContactInfo>
  
  <!-- Comment : Here Communication/Contact Details -->
  <add key="CompanyName" value="CoverYourBusiness.com" />
  <add key="SupportEmailText" value="Support@CoverYourBusiness.com" />
  <add key="SupportEmailHref" value="mailto:Support@CoverYourBusiness.com" />
  <add key="SupportPhoneNumber" value="844-472-0967" />
  <add key="SupportPhoneNumberHref" value="tel:8444720967" />
       
   <!-- Comment : Here Retrieve Quote Emails -->
  <add key="SupportEmailTextQuotes" value="Quotes@CoverYourBusiness.com" />
  <add key="SupportEmailHrefQuotes" value="mailto:Quotes@CoverYourBusiness.com" />

  <!-- Comment : Here Welcome Emails -->
  <add key="SupportEmailTextWelcome" value="Welcome@CoverYourBusiness.com" />
  <add key="SupportEmailHrefWelcome" value="mailto:Welcome@CoverYourBusiness.com" />

  <!-- Comment : Here User Registration Emails -->
  <add key="SupportEmailTextRegistration" value="Registration@CoverYourBusiness.com" />
  <add key="SupportEmailHrefRegistration" value="mailto:Registration@CoverYourBusiness.com" />

  <!-- Comment : Here User Registration Emails -->
  <add key="SupportEmailTextPolicyFailure" value="CreatePolicy@CoverYourBusiness.com" />

  <!-- Comment : Here Sales Support Emails -->
  <add key="SupportEmailTextSalesSupport" value="DirectSalesSupport@CoverYourBusiness.com" />
  <add key="SupportEmailHrefSalesSupport" value="mailto:DirectSalesSupport@CoverYourBusiness.com" />
  <add key="SupportEmailSalesSupport" value="SalesSupport@CoverYourBusiness.com" />

  <!-- Password Reset Confirmation Emails -->
  <add key="PasswordResetConfirmationEmailText" value="PasswordResetConfirmation@CoverYourBusiness.com" />
  <add key="PasswordResetConfirmationEmailHref" value="mailto:PasswordResetConfirmation@CoverYourBusiness.com" />

  <!-- Password Reset Confirmation Emails -->
  <add key="PasswordResetEmailText" value="PasswordReset@CoverYourBusiness.com" />
  <add key="PasswordResetEmailHref" value="mailto:PasswordReset@CoverYourBusiness.com" />

  <!-- System variable key Name start -->
  <add key="_CraftedBy" value="_CraftedBy" />
  <add key="ACORDAPP_Signature_Sigalias" value="ACORDAPP_Signature_Sigalias" />
  <add key="AddressCSZ" value="AddressCSZ" />
  <add key="AddressPO" value="AddressPO" />
  <add key="AddressStreet" value="AddressStreet" />
  <add key="Agency" value="Agency" />
  <add key="Alternate_EmailAddress" value="Alternate_EmailAddress" />
  <add key="Alternate_Title" value="Alternate_Title" />
  <add key="ASC_ApplicationTitle" value="ASC_ApplicationTitle" />
  <add key="ASC_RootURL" value="ASC_RootURL" />
  <add key="BusinessHours" value="BusinessHours" />
  <add key="Carrier" value="Carrier" />
  <add key="CertificateOfInsurance_PrintInWcLocNamInsertUpdate" value="CertificateOfInsurance_PrintInWcLocNamInsertUpdate" />
  <add key="ClaimsProcessing_Email" value="ClaimsProcessing_Email" />
  <add key="Company_Domain" value="Company_Domain" />
  <add key="Company_ShortName" value="Company_ShortName" />
  <add key="Company_WebsiteShortURL" value="Company_WebsiteShortURL" />
  <add key="Company_WebsiteURL" value="Company_WebsiteURL" />
  <add key="CompanyAddress_Mailing_Claims" value="CompanyAddress_Mailing_Claims" />
  <add key="CompanyAddress_Mailing_RemitTo" value="CompanyAddress_Mailing_RemitTo" />
  <add key="CompanyAddress_Mailing_Sales" value="CompanyAddress_Mailing_Sales" />
  <add key="CompanyAddress_Mailing_UW" value="CompanyAddress_Mailing_UW" />
  <add key="CompanyAddress_Physical" value="CompanyAddress_Physical" />
  <add key="CompanyLogo_ImageKey" value="CompanyLogo_ImageKey" />
  <add key="CompanyLogo_ImageKey_AltLogo" value="CompanyLogo_ImageKey_AltLogo" />
  <add key="CompanyLogo_ImageKey_Billing" value="CompanyLogo_ImageKey_Billing" />
  <add key="SysVarCompanyName" value="CompanyName" />
  <add key="CreditCardPayments_AuthorizeNET_ccMaximumPayment" value="CreditCardPayments_AuthorizeNET_ccMaximumPayment" />
  <add key="CreditCardPayments_AuthorizeNET_InTesting" value="CreditCardPayments_AuthorizeNET_InTesting" />
  <add key="CreditCardPayments_AuthorizeNET_LoginID" value="CreditCardPayments_AuthorizeNET_LoginID" />
  <add key="CreditCardPayments_AuthorizeNET_merchantEmail" value="CreditCardPayments_AuthorizeNET_merchantEmail" />
  <add key="CreditCardPayments_AuthorizeNET_post_url" value="CreditCardPayments_AuthorizeNET_post_url" />
  <add key="CreditCardPayments_AuthorizeNET_transactionKey" value="CreditCardPayments_AuthorizeNET_transactionKey" />
  <add key="DefaultThemeId" value="DefaultThemeId" />
  <add key="DirectSales_AppInsights" value="DirectSales_AppInsights" />
  <add key="DirectSales_BccDevelopmentSystem" value="DirectSales_BccDevelopmentSystem" />
  <add key="DirectSales_CompanyInfo_LinkText" value="DirectSales_CompanyInfo_LinkText" />
  <add key="DirectSales_CompanyInfo_LinkURL" value="DirectSales_CompanyInfo_LinkURL" />
  <add key="DirectSales_DevelopmentHosts" value="DirectSales_DevelopmentHosts" />
  <add key="DirectSales_GoogleAdWords" value="DirectSales_GoogleAdWords" />
  <add key="DirectSales_GoogleAnalytics" value="DirectSales_GoogleAnalytics" />
  <add key="DirectSales_Permissions_PowerUsers" value="DirectSales_Permissions_PowerUsers" />
  <add key="DirectSales_PolicyCodeValidationGroup" value="DirectSales_PolicyCodeValidationGroup" />
  <add key="DirectSales_PostingNotice_LinkText" value="DirectSales_PostingNotice_LinkText" />
  <add key="DirectSales_PostingNotice_LinkURL" value="DirectSales_PostingNotice_LinkURL" />
  <add key="Discipline_AccountsReceivable" value="Discipline_AccountsReceivable" />
  <add key="Discipline_CustomerService" value="Discipline_CustomerService" />
  <add key="Discipline_HomeOfficeLegal" value="Discipline_HomeOfficeLegal" />
  <add key="DoNotReply_Email" value="DoNotReply_Email" />
  <add key="DownloadContent_Carrier" value="DownloadContent_Carrier" />
  <add key="EDI_Carrier_Override" value="EDI_Carrier_Override" />
  <add key="EmailAddress_AccountsPayable" value="EmailAddress_AccountsPayable" />
  <add key="EmailAddress_AccountsReceivable" value="EmailAddress_AccountsReceivable" />
  <add key="EmailAddress_Claims3" value="EmailAddress_Claims3" />
  <add key="EmailAddress_Communications" value="EmailAddress_Communications" />
  <add key="EmailAddress_Conversations_replyTo" value="EmailAddress_Conversations_replyTo" />
  <add key="EmailAddress_CSR" value="EmailAddress_CSR" />
  <add key="EmailAddress_DevelopmentSystem" value="EmailAddress_DevelopmentSystem" />
  <add key="EmailAddress_DocuPDF" value="EmailAddress_DocuPDF" />
  <add key="EmailAddress_DoNotReply" value="EmailAddress_DoNotReply" />
  <add key="EmailAddress_GTEvent" value="EmailAddress_GTEvent" />
  <add key="EmailAddress_HardReferral" value="EmailAddress_HardReferral" />
  <add key="EmailAddress_HelpDesk" value="EmailAddress_HelpDesk" />
  <add key="EmailAddress_HomeOfficeSales" value="EmailAddress_HomeOfficeSales" />
  <add key="EmailAddress_InternalAudit" value="EmailAddress_InternalAudit" />
  <add key="EmailAddress_Issued" value="EmailAddress_Issued" />
  <add key="EmailAddress_Legal" value="EmailAddress_Legal" />
  <add key="EmailAddress_PayrollProducts" value="EmailAddress_PayrollProducts" />
  <add key="EmailAddress_PolicyCancellationRequests" value="EmailAddress_PolicyCancellationRequests" />
  <add key="EmailAddress_PolicyServices" value="EmailAddress_PolicyServices" />
  <add key="EmailAddress_PremiumAudit" value="EmailAddress_PremiumAudit" />
  <add key="EmailAddress_RegionalOfficeSales" value="EmailAddress_RegionalOfficeSales" />
  <add key="EmailAddress_ROSR" value="EmailAddress_ROSR" />
  <add key="EmailAddress_Sales" value="EmailAddress_Sales" />
  <add key="EmailAddress_SBUTeam" value="EmailAddress_SBUTeam" />
  <add key="EmailAddress_SoftReferral" value="EmailAddress_SoftReferral" />
  <add key="EmailAddress_StatutoryAccounting" value="EmailAddress_StatutoryAccounting" />
  <add key="EmailTemplate_BackgroundColor" value="EmailTemplate_BackgroundColor" />
  <add key="EmailTemplate_BodyTextColor" value="EmailTemplate_BodyTextColor" />
  <add key="EmailTemplate_BorderColor" value="EmailTemplate_BorderColor" />
  <add key="EmailTemplate_DefaultProfileKey" value="EmailTemplate_DefaultProfileKey" />
  <add key="EmailTemplate_HeaderTextColor" value="EmailTemplate_HeaderTextColor" />
  <add key="EmailTemplate_LinkColor" value="EmailTemplate_LinkColor" />
  <add key="EmailTemplate_LogoBackgroundColor" value="EmailTemplate_LogoBackgroundColor" />
  <add key="EmailTemplate_LogoHeight" value="EmailTemplate_LogoHeight" />
  <add key="EmailTemplate_LogoSrc" value="EmailTemplate_LogoSrc" />
  <add key="EmailTemplate_LogoWidth" value="EmailTemplate_LogoWidth" />
  <add key="EmailTemplate_TextBackgroundColor" value="EmailTemplate_TextBackgroundColor" />
  <add key="EmailTemplate_VisitedLinkColor" value="EmailTemplate_VisitedLinkColor" />
  <add key="EmailTemplate_WebsiteURL" value="EmailTemplate_WebsiteURL" />
  <add key="FaxNumber_Claims" value="FaxNumber_Claims" />
  <add key="Feature_SendPSCNotifications" value="Feature_SendPSCNotifications" />
  <add key="GTWebService_GTPaymentService_Address" value="GTWebService_GTPaymentService_Address" />
  <add key="GuardCoAddress_Mailing" value="GuardCoAddress_Mailing" />
  <add key="HasAgency" value="HasAgency" />
  <add key="InceptionDate_MaximumDaysOut" value="InceptionDate_MaximumDaysOut" />
  <add key="InceptionDate_MaximumPilotDatetime" value="InceptionDate_MaximumPilotDatetime" />
  <add key="Link_PrivacyPolicy" value="Link_PrivacyPolicy" />
  <add key="LossRuns_Delay_BusinessDaysForWho" value="LossRuns_Delay_BusinessDaysForWho" />
  <add key="LossRuns_Delay_Days" value="LossRuns_Delay_Days" />
  <add key="MailingClaims_Address1" value="MailingClaims_Address1" />
  <add key="MailingClaims_Address2" value="MailingClaims_Address2" />
  <add key="MailingClaims_AddressCSZ" value="MailingClaims_AddressCSZ" />
  <add key="MailingClaims_Email" value="MailingClaims_Email" />
  <add key="MailingClaims_Name" value="MailingClaims_Name" />
  <add key="MailingClaims_NewClaimPhone" value="MailingClaims_NewClaimPhone" />
  <add key="MailingClaims_Phone" value="MailingClaims_Phone" />
  <add key="MailingRemitTo_Address1" value="MailingRemitTo_Address1" />
  <add key="MailingRemitTo_Address2" value="MailingRemitTo_Address2" />
  <add key="MailingRemitTo_AddressCSZ" value="MailingRemitTo_AddressCSZ" />
  <add key="MailingRemitTo_Email" value="MailingRemitTo_Email" />
  <add key="MailingRemitTo_Name" value="MailingRemitTo_Name" />
  <add key="MailingRemitTo_NewClaimPhone" value="MailingRemitTo_NewClaimPhone" />
  <add key="MailingRemitTo_Phone" value="MailingRemitTo_Phone" />
  <add key="MailingSales_Address1" value="MailingSales_Address1" />
  <add key="MailingSales_Address2" value="MailingSales_Address2" />
  <add key="MailingSales_AddressCSZ" value="MailingSales_AddressCSZ" />
  <add key="MailingSales_Email" value="MailingSales_Email" />
  <add key="MailingSales_Name" value="MailingSales_Name" />
  <add key="MailingSales_NewClaimPhone" value="MailingSales_NewClaimPhone" />
  <add key="MailingSales_Phone" value="MailingSales_Phone" />
  <add key="MailingUW_Address1" value="MailingUW_Address1" />
  <add key="MailingUW_Address2" value="MailingUW_Address2" />
  <add key="MailingUW_AddressCSZ" value="MailingUW_AddressCSZ" />
  <add key="MailingUW_Email" value="MailingUW_Email" />
  <add key="MailingUW_Name" value="MailingUW_Name" />
  <add key="MailingUW_NewClaimPhone" value="MailingUW_NewClaimPhone" />
  <add key="MailingUW_Phone" value="MailingUW_Phone" />
  <add key="OutputJobTypePartRedirect" value="OutputJobTypePartRedirect" />
  <add key="PhoneNumber_CSR" value="PhoneNumber_CSR" />
  <add key="Physical_Address1" value="Physical_Address1" />
  <add key="Physical_Address2" value="Physical_Address2" />
  <add key="Physical_AddressCSZ" value="Physical_AddressCSZ" />
  <add key="Physical_Email" value="Physical_Email" />
  <add key="Physical_Name" value="Physical_Name" />
  <add key="Physical_NewClaimPhone" value="Physical_NewClaimPhone" />
  <add key="Physical_Phone" value="Physical_Phone" />
  <add key="Prometrix_Data_URL" value="Prometrix_Data_URL" />
  <add key="Prometrix_Pwd" value="Prometrix_Pwd" />
  <add key="Prometrix_Token_URL" value="Prometrix_Token_URL" />
  <add key="Prometrix_User" value="Prometrix_User" />
  <add key="PSC_ApplicationTitle" value="PSC_ApplicationTitle" />
  <add key="PSC_RootURL" value="PSC_RootURL" />
  <add key="SMTP_EmailFrom" value="SMTP_EmailFrom" />
  <add key="SMTP_EmailReplyTo" value="SMTP_EmailReplyTo" />
  <add key="SMTP_EmailTo" value="SMTP_EmailTo" />
  <add key="SMTP_Password" value="SMTP_Password" />
  <add key="SMTP_Server" value="SMTP_Server" />
  <add key="SMTP_Username" value="SMTP_Username" />
  <add key="SocialMedia_Facebook" value="SocialMedia_Facebook" />
  <add key="SocialMedia_GooglePlus" value="SocialMedia_GooglePlus" />
  <add key="SocialMedia_Twitter" value="SocialMedia_Twitter" />
  <add key="SubmittedInsuredNameEditMode" value="SubmittedInsuredNameEditMode" />
  <add key="WCPOLS_FileLocation" value="WCPOLS_FileLocation" />
  <add key="Website_Recaptcha_SecretKey" value="Website_Recaptcha_SecretKey" />
  <add key="Website_Recaptcha_SiteKey" value="Website_Recaptcha_SiteKey" />
  <add key="CompanyName_NENATI20" value="CompanyName_NENATI20" />
  <!-- System variable key Name end -->
  
  <!-- System variable for Referral mail template -->
  <add key="ReferralAgyValue" value="022" />
  <add key="ReferralBranchValue" value="400" />
  <add key="ReferralImportStatus" value="N/A - not imported" />
  <add key="ReferralStatus" value="Referral" />
  <!-- XMod/FEIN cases referral messages -->
  <add key="XModScenariosMessage1" value="Did not search based on state/premium size" />
  <add key="XModScenariosMessage2" value="None found based on tax id/user input" />
  <!-- System variable for Referral mail template -->

</ApplicationContactInfo>