<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!--layout="${longdate} ${newline} ${logger} ${newline} ${message} ${newline} ${exception:format=ToString,StackTrace} ${newline} ${newline} ${newline} ${newline}"-->
    <target name="file" xsi:type="File"
          layout="${longdate} ${newline} ${message} ${newline} ${exception:format=ToString,StackTrace} ${newline}"
          fileName="${basedir}/Log/${shortdate}.log"
          keepFileOpen="false"
          archiveFileName="${basedir}/archives/log.{#####}.txt"
            archiveAboveSize="8192000"
            maxArchiveFiles="200"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            concurrentWrites="true"
          encoding="iso-8859-2" />    
    
    <target name="Mail" xsi:type="Mail" html="true" subject="Guinness Error Received" body="${longdate} ${newline} ${logger} ${newline} ${message} ${newline} ${exception:format=ToString,StackTrace} ${newline} ${newline} ${newline} ${newline}"
         to="prem.pratap@xceedance.com"
         from="alert@xceedance.com"
         encoding="UTF-8"
         smtpUserName="alert@xceedance.com"
         enableSsl="true"
         smtpPassword="abc@123"
         smtpAuthentication="Basic"
         smtpServer="smtp.office365.com"
         smtpPort="587" />
    
    <target name="sendmail" xsi:type="MethodCall" className="BackupLib.Email, BackupLib" methodName="Send" >
      <parameter layout="backupservice@[COMPANY].com" />
      <parameter layout="backups@[COMPANY].com" />
      <parameter layout="FATAL ERROR: Backup Service on ${machinename}" />
      <parameter layout="${longdate} - ${callsite} - ${message}" />
    </target>

  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo="File" />
    <logger name="*" minlevel="Error" writeTo="File" />
    <logger name="*" minlevel="Error" writeTo="Mail" />
    <logger name="*" minlevel="Fatal" writeTo="File" />
    <logger name="*" minlevel="Fatal" writeTo="Mail" />
  </rules>
  
</nlog>