<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <mailSettings>
      <smtp from="DoNotReply@CoverYourBusiness.com" xdt:Transform="Replace">
        <network host="WEBMAIL.GUARD.COM" port="25" enableSsl="true" userName="CYB_SMTP_SERVICE_ACCOUNT@GUARD.COM" password="73ncrYpt#7"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!-- Removing setting that required in UAT environment and if required with different setting that added in Insert section below start -->
    <add key="GuinnessDB" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="RequireSecureCookies" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="UploadFiles" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="IsLiveEnvironment" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="IsTestingPaymentGateway" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <!-- Removing setting that required in UAT environment end -->

    <!-- Updating setting that required different setting in UAT environment start -->
    <add key="Environment" value="Production" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Updating setting that required different setting in UAT environment start -->
    <!-- Payment Gateway integration setting start -->
    <add key="PaymentURLIP" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PaymentURL" value="/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PaymentLogin" value="3d8Tp8K25Z"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PaymentTransactionKey" value="65CMt5K2pr7Tgs99"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--System variable setting for PG Start -->
    <add key="UseSystemVariable" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SystemVariableCacheDuration" value="30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CreditCardPayments_AuthorizeNET_InTesting" value="CreditCardPayments_AuthorizeNET_InTesting" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CreditCardPayments_AuthorizeNET_LoginID" value="CreditCardPayments_AuthorizeNET_LoginID" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CreditCardPayments_AuthorizeNET_transactionKey" value="CreditCardPayments_AuthorizeNET_transactionKey" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--System variable setting for PG End -->
    <!-- Payment Gateway integration setting End -->

    <!-- CDN Setting start -->
    <add key="CdnPath" value="/CDN/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AbsoluteCDNPath" value="/CDN/Content/PolicyCentre/themes/_sharedFiles/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- CDN Setting End -->

    <!-- Application default settings Start -->
    <add key="StaticFilePath" value="/CDN/content/PolicyCentre/static-files/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StaticCommonFilePath" value="/CDN/content/Common/static-files/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WCUrl" value="/PurchasePath/Home" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WcAngularBaseModuleUrl" value="/PurchasePath/Quote/Index#/GetBusinessInfo/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- Removing setting that required in UAT environment and if required with different setting that added in Insert section below End -->
    <add key="InspectletWid" value="1623838665" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Application default settings End -->

    <!-- Google Captcha setting Start -->
    <add key="CaptchaSiteKey" value="6LcVtBQTAAAAAOpYu6uBu0Xhi3R5MwrKoQQoMwxj" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CaptchaSecretKey" value="6LcVtBQTAAAAAGxjUJNMPKNblxt4JVa0Z6vUFO-0" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- Google Captcha setting End -->


    <!--Internal team Email Setting Start -->
    <add key="APILogFileName" value="F:\CYB\APILog\APILogFile{0}.log" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="ClientEmailID" value="CYBsupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientEmailIdCreatePolicyFailure" value="CreatePolicy@CoverYourBusiness.com" />

    <add key="WelcomeEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailBcc" value="DirectSalesIssuance@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WelcomeEmailFrom" value="Welcome@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegistrationEmailFrom" value="Registration@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCreationFailureIntimationTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCreationFailureIntimationCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="policyCreationFailureIntimationBcc" value="DirectSalesIssuance@CoverYourBusiness.com; Jeanette.Carter@CoverYourBusiness.com; Marsha.Richardson@CoverYourBusiness.com; Beth.Stair@CoverYourBusiness.com; Lisa.Parsons@CoverYourBusiness.com; Matt.Mezzacapo@CoverYourBusiness.com; Aaron.Remakus@CoverYourBusiness.com; Lenny.Coviello@CoverYourBusiness.com; Denise.Walsh@CoverYourBusiness.com; Janet.Lowin@CoverYourBusiness.com; Julie.Wanzenried@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCreationFailureIntimationFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResetPasswordEmailFrom" value="PasswordResetConfirmation@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailBcc" value="pshelley@berkre.com; Jeanette.Carter@CoverYourBusiness.com; Marsha.Richardson@CoverYourBusiness.com; Beth.Stair@CoverYourBusiness.com; Lisa.Parsons@CoverYourBusiness.com; Matt.Mezzacapo@CoverYourBusiness.com; Aaron.Remakus@CoverYourBusiness.com; Lenny.Coviello@CoverYourBusiness.com; Denise.Walsh@CoverYourBusiness.com; Janet.Lowin@CoverYourBusiness.com; Julie.Wanzenried@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReferralEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailFrom" value="Quotes@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyChangeEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailBcc" value="pshelley@berkre.com; jeanette.carter@coveryourbusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PolicyCancellationEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AddressChangeEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailTo" value="Claims@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailBcc" value="pshelley@berkre.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClaimRequestEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailTo" value="cybsupport@xceedance.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiFailureEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ForgotPasswordEmailFrom" value="PasswordReset@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UploadDocumentsEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UploadDocumentsEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UploadDocumentsEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UploadDocumentsEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailBcc" value="Jeanette.Carter@CoverYourBusiness.com; Marsha.Richardson@CoverYourBusiness.com; Beth.Stair@CoverYourBusiness.com; Lisa.Parsons@CoverYourBusiness.com; Matt.Mezzacapo@CoverYourBusiness.com; Aaron.Remakus@CoverYourBusiness.com; Lenny.Coviello@CoverYourBusiness.com; Denise.Walsh@CoverYourBusiness.com; Janet.Lowin@CoverYourBusiness.com; Julie.Wanzenried@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduleCallEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ContactInformationEmailTo" value="DirectSalesSupport@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ContactInformationEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ContactInformationEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ContactInformationEmailFrom" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--Internal team Email Setting End -->


    <add key="CloudTypographyUrl" value="//cloud.typography.com/6273674/7792952/css/fonts.css" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Updating setting that required different setting in UAT environment End -->

    <!-- Inserting setting that required different setting in UAT environment start -->
    <!-- Upload file setting start -->
    <add key="UploadFiles" value="F:\CYB\upload-documents\Dashboard\" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <!-- Upload file setting End -->
    <add key="GuinnessDB" value="VmEqEsGH~|~74SV1Pc03uFSksPeVqyG|!~oe5FHWlTzQ2xwLZqh~|~KQxdPfDsrJkQu|!~Wsi2KgyMWvmp07BUNzfZ5mY5XzAvdW7RGJ7gPnTD21O3veQLCeeBqfdU0pTGCTL119PyoHw5jXrcOzwvpmCHUp2A==" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <!-- Inserting setting that required different setting in UAT environment End -->

    <!-- Logging setting start -->
    <!-- Transaction log folder Name -->
    <add key="ReattemptFolderPath" value="F:\CYB\DBReattempt\New" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- Logging setting End -->
  </appSettings>
  <system.web>
    <authentication mode="Forms" xdt:Transform="Replace" >
      <forms loginUrl="~/#/Login" timeout="120" requireSSL="true" />
    </authentication>
    <sessionState xdt:Transform="RemoveAll" />
    <sessionState mode="InProc" timeout="120" xdt:Transform="Insert" />
  </system.web>
  <system.webServer>
    <httpProtocol xdt:Transform="RemoveAll">
    </httpProtocol>
  </system.webServer>
  <serviceConnectionsGuard xdt:Transform="RemoveAll">
  </serviceConnectionsGuard>
</configuration>

