<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <!-- Mail Setting Start -->
    <mailSettings>
      <smtp from="DoNotReply_YYY@CoverYourBusiness.com" xdt:Transform="Replace">
        <network host="WEBMAIL.GUARD.COM" port="25" enableSsl="true" userName="CYB_SMTP_SERVICE_ACCOUNT@GUARD.COM" password="73ncrYpt#7"/>
      </smtp>
    </mailSettings>
    <!-- Mail Setting End -->
  </system.net>
  <appSettings>
    <add key="GuinnessDB" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>

    <add key="ReattemptFolderPath" value="E:\CYB\YYY\DBReattempt\New" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReattemptArchiveFolderPath" value="E:\CYB\YYY\DBReattempt\Archive" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReattemptFailureFolderPath" value="E:\CYB\YYY\DBReattempt\Failure" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="HostURL" value="YYY.CoverYourBusiness.Com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailTemplatePath" value="https://{0}/CDN/Home/ReadTemplateContent" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WcEmailTemplateImgPath" value="https://{0}/CDN/Content/WC/themes/_sharedFiles/emailImages/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RefreshCache" value="https://{0}/PurchasePath/Home/RefreshCache?args={1}" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="RetreiveQuoteEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailFrom" value="Quotes@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="GuinnessDB" value="EAYex6R1Z0cpKOqG63CV3mzS~|~svdr2XPwWAM3HcmerDH6WkFBr1g1YU7H0uPukc4ova5sWrb5bNT5iRZM5YQ|!~WwLHaO9BWGHvQG053xZ2VIsAAKXfcr5VKjnCys7VogrlNBDCYtPI3wqYy4tKX3mHj2G~|~A1pXCnPYpZ7W~|~gMEC4=" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
  </appSettings>
  <serviceConnectionsGuard xdt:Transform="Replace">
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc/api/" authUrl="https://ydsml.guard.com/inssvc/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth"/>
  </serviceConnectionsGuard>
</configuration>
