<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceConnectionsGuard" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
    <section name="WcServices" type="BHIC.Common.SchedulerService.WcServiceConfigLoader, BHIC.Common.SchedulerService" />
    <section name="ApplicationContactInfo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <WcServices>
    <WcServiceList>
      <!-- Below list of Service should be in the order in which we need to execute and in repeatTaskInterval please specify number of minutes-->
      <!--<WcService serviceName="BHICEmailNotification" isServiceNeedToRun="true" repeatTaskInterval="5" ></WcService>-->
      <WcService serviceName="BHICReattemptProcess" isServiceNeedToRun="true" repeatTaskInterval="5" isMultipleRun="true"  ></WcService>
      <WcService serviceName="BackGroundSaveForLaterProcess" isServiceNeedToRun="true" repeatTaskInterval="1440" isMultipleRun="true" isSpecificTime="true" scheduledTime="06:00"></WcService>
      <WcService serviceName="BHICReloadCache" isServiceNeedToRun="true" repeatTaskInterval="1440" isMultipleRun="true" isSpecificTime="true" scheduledTime="04:00"></WcService>
      
      <!--<WcService serviceName="WcLogNotification" isServiceNeedToRun="true" repeatTaskInterval="15"></WcService>-->
    </WcServiceList>
  </WcServices>
  <appSettings>
    <add key="TimerInterval" value="60" />
    <add key="SystemVariableCacheDuration" value="30" />
    <add key="RecordProcessStatus" value="true" />
    <!--Use to log Transaction detail-->
    <add key="IsTransactionLog" value="false" />
    <add key="ReattemptFolderPath" value="C:\ProjectDoc\Guinness\Reattempt\New" />
    <add key="ReattemptArchiveFolderPath" value="C:\ProjectDoc\Guinness\Reattempt\Archive" />
    <add key="ReattemptFailureFolderPath" value="C:\ProjectDoc\Guinness\Reattempt\Failure" />
    <add key="GuinnessDB" value="1Gd+lHKHLpKJ4esIGd74zDk3kbj31T8zKRW+M9TL+P4tDJe/O7JtnpmVqtyIal+VNqV59pUp0cs2Ye1x57hZA2DL6kt0avkf572KfCp2/yuIZwcnnFTDyoAjaUGTQ/QeVQg/UOnmgqLlNe8CWuqT4Q==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />

    <!-- Default Theme - Set the default theme. This should always sync with the value stored in lookups. -->
    <add key="AppName" value="WC" />
    <add key="HostURL" value="localhost"/>
    <!--Notification Templage Path-->
    <add key="EmailTemplatePath" value="http://{0}/BHIC.CDN/Home/ReadTemplateContent" />
    <add key="WcEmailTemplateImgPath" value="http://{0}/BHIC.CDN/Content/WC/themes/_sharedFiles/emailImages/" />
    <add key="RefreshCache" value="http://{0}/PurchasePath/Home/RefreshCache?args={1}"/>
    
    <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="RetreiveQuoteEmailTo" value="" />
    <add key="RetreiveQuoteEmailCc" value="" />
    <add key="RetreiveQuoteEmailBcc" value="" />
    <add key="RetreiveQuoteEmailFrom" value="" />
    <!--Internal team Email Setting End -->

  </appSettings>
  <serviceConnectionsGuard>
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc2/api/" authUrl="https://ydsml.guard.com/inssvc2/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth" />
  </serviceConnectionsGuard>
  <ApplicationContactInfo file="ApplicationContactInfo.config" />
  <system.net>
    <mailSettings>
      <smtp from="alert@xceedance.com">
        <network host="smtp.office365.com" port="587" enableSsl="true" userName="alert@xceedance.com" password="abc@123" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>