<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <!-- Mail Setting Start -->
    <mailSettings>
      <smtp from="DoNotReply_YYY1@CoverYourBusiness.com" xdt:Transform="Replace">
        <network host="WEBMAIL.GUARD.COM" port="25" enableSsl="true" userName="CYB_SMTP_SERVICE_ACCOUNT@GUARD.COM" password="73ncrYpt#7"/>
      </smtp>
    </mailSettings>
    <!-- Mail Setting End -->
  </system.net>
  <appSettings>
    <add key="GuinnessDB" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    
    <add key="ReattemptFolderPath" value="E:\CYB\YYY1\DBReattempt\New"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReattemptArchiveFolderPath" value="E:\CYB\YYY1\DBReattempt\Archive"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReattemptFailureFolderPath" value="E:\CYB\YYY1\DBReattempt\Failure"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="HostURL" value="YYY1.CoverYourBusiness.Com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailTemplatePath" value="https://{0}/CDN/Home/ReadTemplateContent" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WcEmailTemplateImgPath" value="https://{0}/CDN/Content/WC/themes/_sharedFiles/emailImages/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RefreshCache" value="https://{0}/PurchasePath/Home/RefreshCache?args={1}" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="RetreiveQuoteEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailFrom" value="Quotes@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="GuinnessDB" value="1rbUyK1fmjNWhnBmp0M94qS65rpAyg3WJ7b9l|!~VQulrZMsn5Hi|!~xkkwOh1WLukyvXNS2RPpQgeLA5GlQsMNMH2Twyvq5yjxmRcl9mGsepE8n~|~t41yuuk7~|~TIVe|!~Npw2NMamjzsJVD1FNLrh7ylLk2umh|!~cB5~|~Azg2okmrILC2Vg=" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
  </appSettings>
  <serviceConnectionsGuard xdt:Transform="Replace">
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc3/api/" authUrl="https://ydsml.guard.com/inssvc3/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth"/>
  </serviceConnectionsGuard>
</configuration>
