<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <!-- Mail Setting Start -->
    <mailSettings>
      <smtp from="DoNotReply@CoverYourBusiness.com" xdt:Transform="Replace">
        <network host="WEBMAIL.GUARD.COM" port="25" enableSsl="true" userName="CYB_SMTP_SERVICE_ACCOUNT@GUARD.COM" password="73ncrYpt#7"/>
      </smtp>
    </mailSettings>
    <!-- Mail Setting End -->
  </system.net>
  <appSettings>
    <add key="GuinnessDB" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>

    <add key="ReattemptFolderPath" value="F:\CYB\DBReattempt\New" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReattemptArchiveFolderPath" value="F:\CYB\DBReattempt\Archive" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReattemptFailureFolderPath" value="F:\CYB\DBReattempt\Failure" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="HostURL" value="CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailTemplatePath" value="https://{0}/CDN/Home/ReadTemplateContent" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WcEmailTemplateImgPath" value="https://{0}/CDN/Content/WC/themes/_sharedFiles/emailImages/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RefreshCache" value="https://{0}/PurchasePath/Home/RefreshCache?args={1}" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--Internal team Email Setting Start -->
    <!-- To send mail copy to testing guys here add email-ids -->
    <add key="RetreiveQuoteEmailTo" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailCc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailBcc" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RetreiveQuoteEmailFrom" value="Quotes@CoverYourBusiness.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="GuinnessDB" value="VmEqEsGH~|~74SV1Pc03uFSksPeVqyG|!~oe5FHWlTzQ2xwLZqh~|~KQxdPfDsrJkQu|!~Wsi2KgyMWvmp07BUNzfZ5mY5XzAvdW7RGJ7gPnTD21O3veQLCeeBqfdU0pTGCTL119PyoHw5jXrcOzwvpmCHUp2A==" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
  </appSettings>
  <serviceConnectionsGuard xdt:Transform="Replace">
    <add name="InsuranceApi" url="https://dsml.guard.com/inssvc/api" authUrl="https://dsml.guard.com/inssvc/auth" username="kzY~|~Z2mnsbe1G9rThO4pmK61p1hhxifQ16VOg|!~Pf3uCn~|~I5RFy5SeshD~|~9W03KAz" password="N~|~u8iAegoU1~|~qKUSR3sy5bHvsNgaB52B07fBOfKkexibUHesnV2LGAOI59iz~|~BT1" authType="OAuth"/>
  </serviceConnectionsGuard>
</configuration>
