<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="serviceConnectionsGuard" type="BHIC.Common.Client.ServiceConnectionsConfigSection, BHIC.Common.Client" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Use to log Transaction detail-->
    <add key="IsTransactionLog" value="false" />
    <!--<add key="GuinnessDB"
         value="y1KmeElfHGWYDibARjwHFrXhOJT7WqEVLKK7C02WmUwpN|!~xKT5Bq7CFtObSDwtfbVFpl|!~rVFY1M|!~sUcnnfTr3uueMOzpDX9dxQo0tOd6aDEv~|~dtBoIysU8JWkqKQGqHdVkKWnr41LZwUF|!~rdJ8KdFbwc3~|~XkcB1zPTjHjveprOc=" />-->
    <add key="GuinnessDB"
         value="1Gd+lHKHLpKJ4esIGd74zDk3kbj31T8zKRW+M9TL+P4tDJe/O7JtnpmVqtyIal+VNqV59pUp0cs2Ye1x57hZA2DL6kt0avkf572KfCp2/yuIZwcnnFTDyoAjaUGTQ/QeVQg/UOnmgqLlNe8CWuqT4Q==" />
  </appSettings>
  <serviceConnectionsGuard>
    <add name="InsuranceApi" url="https://ydsml.guard.com/inssvc2/api/" authUrl="https://ydsml.guard.com/inssvc2/auth" username="OzQ5bAPTYUmsjEKL~|~qGDNZ1NhlmHv~|~oOlfXzUPLhOV0=" password="XuDfCmEjlGH2ZrrEQQMOfKS~|~7TQrKTN3BTY0ErCE4j4=" authType="OAuth" />
  </serviceConnectionsGuard>
</configuration>