@{
    ViewBag.Title = "Confirm Your E-mail Address";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom/user-registration.css" rel="stylesheet" />

<div class="ds-page-container">
    <div class="ds-wrap">
        <div class="ds-content-container">
            <div class="ds-content-region">
                <h2>@ViewBag.Title.</h2>
                <hr />
                <div class="ds-row">
                    <div class="ds-col-12">
                        <form>
                            <p>
                                One more step to gain access to your on-line account!
                            </p>
                            <p>
                                Within a few minutes, you will receive an e-mail from us.  Please click the link included in that message to confirm your e-mail address.  (If you do not get our message, be sure to check any junk e-mail filters.)
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



