@{
    Layout = "~/Areas/Landing/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Custom/user-registration.css" rel="stylesheet" />

<div class="ds-page-container">
    <div class="ds-wrap">
        <div class="ds-content-container">
            <div class="ds-content-region">
                <div class="ds-row">
                    <div class="ds-col-12">
                        <form>
                            <h3> Login Successfully</h3>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
