@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Custom/user-registration.css" rel="stylesheet" />

@ViewBag.InvalidLogin

<div id="div-userLogin" data-ng-app="bhic-app" data-ng-controller="loginCtrl as loginUserCtrl" class="ds-page-container">
    <div class="ds-wrap">
        <div class="ds-content-container">
            <div class="ds-content-region">
                <h2>User Login</h2>
                <hr />
                <div class="ds-row">
                    <div class="ds-col-12">
                        <form id="login_user" name="login_user" novalidate data-ng-submit="login_user.$valid && loginUserCtrl.submitUser(loginUserCtrl.loginModel);">
                            <div class="control-group" data-ng-class="{true: 'error'}[submitted && login_user.email.$invalid]">
                                <div class="controls">
                                    <input type="email" placeholder="Email" data-ng-model="loginUserCtrl.loginModel.email" name="email" ng-required="true" />
                                    <span data-ng-show="submitted && login_user.email.$error.required" class="has-error">Email is required.</span>
                                    <span data-ng-show="submitted && login_user.email.$error.email" class="has-error">Invalid email address.</span>
                                </div>
                            </div>
                            <div class="control-group" data-ng-class="{true: 'error'}[submitted && login_user.password.$invalid]">
                                <div class="controls">
                                    <input type="password" placeholder="Password" data-ng-model="loginUserCtrl.loginModel.password" name="password" data-ng-required="true" password-strength="loginUserCtrl.loginModel.password" />
                                    <span data-ng-show="submitted && login_user.password.$error.required" class="has-error">Password is required.</span>
                                    <ul id="strength" password-strength="loginUserCtrl.loginModel.password"></ul>
                                </div>
                            </div>
                            <div class="control-group" data-ng-class="{true: 'error'}[submitted && login_user.email.$invalid]">
                                <div class="controls">
                                    @Html.ActionLink("Forgot Password", "ForgotPassword", "WcAccount", new { area = "Account" }, null)
                                </div>
                            </div>
                            <br />
                            <div class="div-row">
                                <input type="submit" value="Submit" ng-click="submitted=true" class="ds-button-activecommand" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Comment : Here related scripts files-->
    <script src="~/Scripts/bhic/controllers/wc/loginCtrl.js"></script>
    <script src="~/Scripts/bhic/services/wc/userProfileService.js"></script>
    <script src="~/Scripts/bhic/directives/wc/passwordStrengthDirective.js"></script>
</div>

