<ng-form name="passwordInfo">
    <div class="panel">
        <div class="panel-body">
            <h4>Create Your Account</h4>
            <hr>
            <div class="form-group">
                <label class="col-md-3" for="Create_Password">Create Password</label>
                <div class="col-md-9">
                    <input type="password" data-ng-model="purchaseModel.account.password" ng-pattern="'^(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{6,}$'" name="password" required />
                    <p data-ng-show="submitted && passwordInfo.password.$error.required" class="help-block">Password is required</p>
                    <p data-ng-show="submitted && passwordInfo.password.$error.pattern" class="help-block">Password must contain one uppercase alphabet and one number</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="Confirm_Password">Confirm Password</label>
                <div class="col-md-9">
                    <input type="password" data-ng-model="purchaseModel.account.confirmPassword" name="confirmPassword" ng-required="true" confirm-password="password" />
                    <p data-ng-show="submitted && passwordInfo.confirmPassword.$error.required" class="help-block">Confirm Password is required</p>
                    <p data-ng-show="submitted && purchaseModel.account.confirmPassword != purchaseModel.account.password" class="help-block">Confirm Password and Password do not match</p>
                </div>
            </div>
        </div>
    </div>
</ng-form>


