<div class="div-row">
    <label class="row-label">Business Type</label>
    <div class="row-control">
        <select name="businessType" data-ng-model="businessType" data-ng-required="true">
            <option value="">--Please Select--</option>
            <option value="C">Corporation</option>
            <option value="P">Partnership</option>
            <option value="I">Individual</option>
            <option value="O">Other</option>
            <option value="L">Limited Liability Co. (LLC)</option>
            <option value="J">Joint Venture</option>
        </select>
    </div>
</div>
<div class="div-row">
    <label class="row-label">Business Name</label>
    <div class="row-control">
        <input type="text" name="businessName" ng-model="businessName" placeholder="Your Business Name">
    </div>
</div>