@using BHIC.Portal.Code.Html;

@{
    ViewBag.Title = "Referral page reponse";
    Layout = "~/Areas/Landing/Views/Shared/_Layout.cshtml"; ;
}


<section>
	<article style="height:500px;">
		<div class="ds-quote" style="color:black;">

            @Html.ThemeSharedContent("referral-complete")

		</div>
	</article>
</section>
